@charset "UTF-8";

// Assets

@import "assets/animations";
@import "assets/glyphs";
@import "assets/colours";
@import "assets/symbols";
@import "assets/mixins";

// Parameters

$body-font-family: 'Source Sans Pro', sans-serif !default;

$break-small: 768px !default;
$break-large: 1280px !default;

$grid-gutter: '1em' !default;

$default-screen-padding: 40px !default;
$default-screen-padding-small: 15px !default;

$border-radii: 10px !default;
$default-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) !default;
$default-box-shadow-hover: 0 0 15px rgba(0,0,0,0.2) !default;
$default-box-shadow-active: inset 0 0 10px rgba(0,0,0,0.4) !default;
$default-focus-marking: 0 0 2px rgba(0,0,0,0.5) !default;;

// Mixins

@import "components/avatar";
@import "components/auto-scale";
@import "components/auto-suggest";
@import "components/breadcrumbs";
@import "components/checklist";
@import "components/carousel";
@import "components/collapsible";
@import "components/container";
@import "components/date-picker";
@import "components/gallery";
@import "components/grid";
@import "components/grid-list";
@import "components/form";
@import "components/injection";
@import "components/message";
@import "components/modal";
@import "components/notifications";
@import "components/bumper";
@import "components/select";
@import "components/tooltip";
@import "components/well";
