@charset "UTF-8";

// Assets

@import "assets/variables";
@import "assets/animations";
@import "assets/glyphs";
@import "assets/colours";
@import "assets/symbols";
@import "assets/mixins";

body {
  @include screen-size(small) {
    --pat-form-panel-padding: #{$pat-form-panel-padding-small};
  }

  @include screen-size(medium) {
    --pat-form-panel-padding: #{$pat-form-panel-padding-medium};
  }

  @include screen-size(large) {
    --pat-form-panel-padding: #{$pat-form-panel-padding-large};
  }
}

// Libraries

@import "libraries/reset";
@import "libraries/animate";

// Components

@import "components/attachment-list";
@import "components/avatar";
@import "components/auto-scale";
@import "components/auto-suggest";
@import "components/back-button";
@import "components/breadcrumbs";
@import "components/bumper";
@import "components/button-bar";
@import "components/button";
@import "components/button-cluster";
@import "components/comma-separated";
@import "components/context-menu";
@import "components/checklist";
@import "components/carousel";
@import "components/collapsible";
@import "components/container";
@import "components/date-picker";
@import "components/editor-toolbar";
@import "components/expandable-tree";
@import "components/family-tree";
@import "components/flag-list";
@import "components/form-field-name-value-list";
@import "components/form-field-range";
@import "components/gallery";
@import "components/grid";
@import "components/grid-list";
@import "components/form";
@import "components/honey-pot";
@import "components/icon";
@import "components/injection";
@import "components/message";
@import "components/modal";
@import "components/notifications";
@import "components/page-module";
@import "components/picture";
@import "components/rich-editor";
@import "components/screenshot";
@import "components/sortable-blocks";
@import "components/sortable-table";
@import "components/syntax-highlight";
@import "components/select";
@import "components/table";
@import "components/toolbar";
@import "components/toggle-switch";
@import "components/tiptap";
@import "components/tooltip";
@import "components/upload";
@import "components/verification-code";
@import "components/well";
