.attachment-list {
	display: block;

	.meta {
		top: 0.3em;
	}

	&:before {
		display: none;
	}

	.attached-file {
		width: 100%;
		margin-bottom: 0;
		position: relative;
		display: grid;
		grid-template-columns: auto 90px;
		grid-template-areas: 
			"title functions"
			"description description";

		.preview-link {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			z-index: 0;
			display: block;
		}

		&.mode-edit {
			.preview-link {
				display: none;
			}

			.icon.icon-rename:before,
			.icon.icon-rename:hover:before {
				color: $colour-accent;
			}

			.flex-field {
				&:before {
					color: transparent;
				}
			}
		}

		&.mode-view {
			.title-group {
				.name:before {	
					color: $colour-link;
				}

				&:hover {
					.name:before {
						text-decoration: underline;
					}
				}
			}

			.flex-field {
				&:before,
				textarea {
					background-color: transparent;
					padding: 0;
					white-space: normal;
				}

				textarea {
					display: none;
				}

				&:before {
					color: inherit
				}
			}
		}

		.title-group {
			color: $body-font-color;
			grid-area: title;
			position: relative;
			margin-bottom: 15px;

			.title {
				margin: 0;

				.name {
					display: block;
				}
	
				.time-stamp {
					color: rgba(black, 0.4);
					font-size: 0.8em;
					clear: both;
					display: block;
					line-height: 1.3;
					margin-bottom: 7px;
				}
			}
		}

		.description {
			display: block;
			color: black;
			font-weight: normal;
			font-size: 0.9em;
			line-height: 1.25;
			grid-area: description;
			-webkit-user-select: all;
			user-select: all;
			margin-bottom: 15px;
			margin-top: -15px;
		}

		.flex-field {
			position: relative;

			.field-name {
				position: absolute;
				opacity: 0;
			}
	
			&:before {
				content: attr(data-value);
				padding-bottom: 5px;
				display: block;
				min-height: calc(1em + 10px);
			}
	
			&:before,
			textarea {
				// background-color: transparent;
				// padding: 0;
				// line-height: inherit;
				// font-size: inherit;
				white-space: pre-wrap;
			}
	
			textarea {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				color: black;
				margin: 0;
				resize: none;
				overflow: hidden;
				
			}
		}
		
		.functions {
			grid-area: functions;
			z-index: 1;
			font-size: 0;
			text-align: right;

			&[data-value="on"] {
				display: none;

				& + .title-group,
				& ~ .description {
					display: none;
				}
			}

			.icon {
				width: 30px;
				height: 30px;
				line-height: 30px;
				cursor: default;
				overflow: hidden;
				display: inline-block;
				color: transparent;
				background-color: transparent;
				padding: 0;
				vertical-align: middle;

				input {
					position: absolute;
					opacity: 0;
				}

				&::before {
					color:rgba(black, 0.5);
					text-align: center;
					display: block;
					width: 30px;
					line-height: 30px;
					margin: 0;
					font-size: $base-font-size;
				}

				&:hover:before {
					color: black;
					text-decoration: none;
				}
			}
		}

	}

	.upload-area {
		padding: 0.2em;
		display: block;

		fieldset {
			margin: 0;
		}

		.upload-area .upload-queue .previews,
		.upload-area .dz-message p {
		 	margin-bottom: 0 !important;
		}
	}
}