:root {
	--back-button-border-radius: var(--border-radii);
	--back-button-border-radius-left: 8px;
	--back-button-background-colour: var(--button-background-colour);
	--back-button-background-colour-hover: var(--button-background-colour-hover);
	--back-button-text-colour: var(--button-text-colour);
	--back-button-text-colour-hover: var(--button-text-colour-hover);
	--back-button-height: var(--button-height);
	--back-button-line-height: var(--button-line-height);
	--back-button-font-size: 18px;
	--back-button-background-colour-dp: rgba(255, 255, 255, 0.5);
	--back-button-text-colour-dp: rgba(255, 255, 255, 0.9);
	--back-button-text-colour-dp-hover: white;
	--back-button-font-weight: bold;
}

.pat-back-button {
	display: inline-block;
	line-height: var(--back-button-line-height);
	height: var(--back-button-height);
	color: var(--back-button-text-colour);
	font-size: var(--back-button-font-size);
	padding: 0 1.5em 0 2em;
	position: relative;
	margin-left: 0;
	font-weight: var(--back-button-font-weight);
	max-width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	text-decoration: none !important;
	cursor: default;

	.pat-toolbar & {
		line-height: var(--pat-toolbar-button-line-height);
	}

	.overflow-protector {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}

	@include screen-size(small) {
		#app-space & {
			display: none;
		}
	}

	&:before {
		content: ' ';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: calc(0.5 * var(--back-button-height) - 0.26 * var(--back-button-border-radius-left)) 15px calc(0.5 * var(--back-button-height) - 0.26 * var(--back-button-border-radius-left)) 0;
		border-color: transparent var(--back-button-background-colour) transparent transparent;
		position: absolute;
		left: 0;
		top: calc(0.3 * var(--back-button-border-radius-left));
	}

	&:after {
		content: ' ';
		background: var(--back-button-background-colour);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 13px;
		clip-path: inset(0 0 0 2px);
		display: block;
		border-top-right-radius: var(--back-button-border-radius);
		border-bottom-right-radius: var(--back-button-border-radius);
		border-top-left-radius: var(--back-button-border-radius-left);
		border-bottom-left-radius: var(--back-button-border-radius-left);
		z-index: -1;
	}

	&.dp {
		&:before {
			border-color: transparent var(--back-button-background-colour-dp) transparent transparent;
		}

		&:after {
			background: var(--back-button-background-colour-dp);
		}
	}

	&:hover {
		color: var(--button-text-colour-hover);
		text-decoration: none;

		&:before {
			border-color: transparent var(--back-button-background-colour-hover) transparent transparent;
		}

		&:after {
			background: var(--back-button-background-colour-hover);
		}
	}
}
