@mixin pat-button-bar {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin: 15px 0;

    .pat-button {
        margin: 0;
        
    }
}

.pat-button-bar {
    @include pat-button-bar;
}