:root {
    --pat-button-bar-margin-top-bottom: 15px;
}

@mixin pat-button-bar {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin: var(--pat-button-bar-margin-top-bottom) 0;

    .pat-button {
        margin: 0;
        
        &.float-after {
            margin-left: auto;
        }
    }
}

.pat-button-bar {
    @include pat-button-bar;
}