@charset "UTF-8";

$pat-toolbar-button-height: $button-height !default;

.pat-button-cluster {
  float: left;
  border-radius: $border-radii;
  background: $button-background-colour-subdued;
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
  // white-space: nowrap;

  &.pat-tabs {
    position: relative;
    height: $button-height;
    line-height: $button-height;
    border-radius: $border-radii;
    overflow: visible;
    float: none;
    white-space: nowrap;
    max-width: 100%;
    font-size: 0;
    vertical-align: top;
    display: inline-block;
    border-radius: $border-radii;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 6px rgba(0,0,0,0.12);
    // white-space: nowrap;
    padding: 0 6px;

    button, 
    a.button,
    .pat-button,
    label,
    > a {
        margin: 0;
        border-radius: 0;
        border-left-style: none;
        float: left;
        border: none;
        background: transparent;
        padding: 0 12px;
        color: rgba(0,0,0,0.7);
        cursor: default;
        line-height: $canvas-toolbar-button-height;
        height: $canvas-toolbar-button-height;
        box-shadow: none;
        font-size: $base-font-size;
        font-weight: normal;
        position: relative;

        &.icon {
          padding: 0 5px;
        }

        input {
          position: absolute;
          opacity: 0;
        }

        &[href]:not(.current):hover {
          color: black;
          background-color: transparent;
        }

        &:not(.active):not(.current):not(.checked):hover {
          text-decoration: none;;
          // background-color: rgba(255,255,255,0.4);
          color: black;
        } 

        &:before {
          margin-right: 5px;
          margin-left: 0;
            color: rgba(0,0,0,0.7);
        }

        &:after {
          background: $colour-accent;
          position: absolute;
          top: 3px;
          right: -3px;
          bottom: 3px;
          left: -3px;
          z-index: -1;
          display: block;
          content: ' ';
          border-radius: 0.75 * $border-radii;
          opacity: 0;
          // transition: opacity 0.8s;
          box-shadow: 0 1px 6px rgba(0,0,0,0.15);
        }

        &.checked,
        &.active,
        &.current {
          background-color: transparent;
          color: white;
          text-decoration: none;
          box-shadow: none;

          &:after {
            opacity: 1;
          }

          &:before {
            color: white;
          }

          .counter {
            background: red;
            // border: 1px solid white;
          }
      }

      &:first-child {
        border-top-left-radius: $border-radii;
        border-bottom-left-radius: $border-radii;
        // padding-left: 2em;
      }

      &:last-child {
        border-top-right-radius: $border-radii;
        border-bottom-right-radius: $border-radii;
        // padding-right: 2em;
      }

      .counter {
        display: inline-block;
        margin: 0.8em 0em 0.5em 0.5em;
        background-color: red;
        color: white;
        border-radius: 1em;
          border: 1px solid rgba(255,255,255,1);
        height: 1.8em;
        min-width: 1.8em;
        @include box-sizing;
        padding: 0 0.5em;
        transition: opacity 0.5s;
        animation: zoomIn 0.6s;
        float: right;
        vertical-align: baseline;
        line-height: 1.7em;
        font-size: 0.6em;
        text-align: center;
        font-weight: normal;

        &.disabled {
          opacity: 0.2;
          animation: none;
          background-color: gray;
        }

        &.injecting {
          &:before {
            display: none;
          }

          opacity: 0;
        }
      }

    }

    &.align-centre {
      position: absolute;
    }
      
    .js & {
      opacity: 0;
      transition: opacity 1s;

      &.tabs-ready {
        opacity: 1;
      }
    }

    &.tabs-wrapped {
      padding-right: 60px;
    }

    a {
      float: none;
      display: inline-block;
      font-size: $base-font-size;
      vertical-align: top;

      &.icon {
        width: 14px;
        // overflow: hidden;
        padding: 0 20px;

        color: transparent;

        &:before {
          margin-right: 20px;
        }
      }
    }

    &.open {
      span.extra-tabs {
        overflow: visible;

        &:before {
            color: black;
            background-color: rgba(255,255,255,0.4);
        }

        &:after {
          border-color: silver;
        }

        height: auto;
        width: 300px;
        padding-bottom: 15px;
        padding-top: $button-height + 25px;

        a {
          animation: fadeIn 0.5s;
          animation-delay: 0.2s;
          animation-fill-mode: forwards;
        }
      }
    }

    & {

      span.extra-tabs {
        font-size: $base-font-size;
        width: 300px;
        padding-top: $button-height + 10px;
        display: inline-block;
        float: right;
        height: 0;
        width: $button-height + 20px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: transparent !important;
        box-shadow: none !important;
        box-sizing: border-box;

        -webkit-transition: all 0.1s;

        &:before {
          font-family: fontello;
          content: '\e87b';
          display: block;
          height: $button-height;
          lie-height: $button-height + 1px;
          width: $button-height + 20px;
          text-align: center;
          position: absolute;
          top: 0;
          right: 0;
          border-top-right-radius: $border-radii;
          border-bottom-right-radius: $border-radii;
        }

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          top: $button-height + 10px;
          right: 0;
          bottom: 0;
          left: 0;
            border: 1px solid rgba(0,0,0,0);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
            border-radius: $border-radii;
            background: white;

            transition: border 0.2s;
        }

        &:hover {
            &:before {
              // background-color: rgba(255,255,255,0.4);
              color: black;
            }
        }

        a {
          display: block;
          float: none;
          padding: 0.4em 0.7em;
          line-height: 1.5;
          text-align: left;
          color: black;
          position: relative;
          z-index: 1;
          border: none !important;
          opacity: 0;
          border-radius: 0 !important;

          &:hover {
            background-color: rgba(0,0,0,0.05);
            text-decoration: none;
          }

          &.current {
            background: $colour-accent;
            color: white;
          }
        }
      }
    }
  }

  button, 
  a.button,
  .pat-button,
  label,
  > a {
    margin: 0;
    border-radius: 0;
    border-left-style: none;
    float: left;
    border: none;
    background: transparent;
    padding: 0 1.2em;
    color: rgba(0,0,0,0.7);
    cursor: default;
    line-height: $pat-toolbar-button-height;
    height: $pat-toolbar-button-height;
    box-shadow: none;
    font-size: $base-font-size;
    font-weight: normal;

    &.select-all[disabled],
    &.deselect-all[disabled] {
      background-color: $colour-accent;
      color: white;

      &:hover {
        background-color: $colour-accent;
        color: white;
      }
    }

    &.icon {
      padding: 0 5px;
    }

      input {
        position: absolute;
        opacity: 0;
      }

      &[href]:not(.current):not(.active):not(.current):hover {
        color: black;
      }

      &:not(.active):not(.current):not(.checked):not([disabled]):hover {
        text-decoration: none;;
        // background-color: rgba(255,255,255,0.4);
        color: black;
      } 

    &:before {
      margin-right: 0;
      margin-left: 0;
        color: rgba(0,0,0,0.7);
    }

      &.checked,
      &.active,
      &.current {
        background: $colour-accent;
        color: white;
        text-decoration: none;
        box-shadow: none;

        &:before {
          color: white;
        }

        .counter {
          background: red;
          // border: 1px solid white;
        }
      }

    &:first-child {
      border-top-left-radius: $border-radii;
      border-bottom-left-radius: $border-radii;
      // padding-left: 2em;
    }

    &:last-child {
      border-top-right-radius: $border-radii;
      border-bottom-right-radius: $border-radii;
      // padding-right: 2em;
    }

    .counter {
      display: inline-block;
      margin: 0.8em 0em 0.5em 0.5em;
      background-color: red;
      color: white;
      border-radius: 1em;
        border: 1px solid rgba(255,255,255,1);
      height: 1.8em;
      min-width: 1.8em;
      @include box-sizing;
      padding: 0 0.5em;
      transition: opacity 0.5s;
      animation: zoomIn 0.6s;
      float: right;
      vertical-align: baseline;
      line-height: 1.7em;
      font-size: 0.6em;
      text-align: center;
      font-weight: normal;

      &.disabled {
        opacity: 0.2;
        animation: none;
        background-color: gray;
      }

      &.injecting {
        &:before {
          display: none;
        }

        opacity: 0;
      }
    }

  }
}