@charset "UTF-8";

$pat-checklist-item-separation: 0.2em !default;
$checklist-label-line-height: 1.2em !default;
$pat-checklist-padding-start: 1.5em !default;
$pat-checklist-padding-end: 0 !default;

:root {
	--pat-checklist-label-padding-start: #{$pat-checklist-padding-start};
	--pat-checklist-label-padding-end: #{$pat-checklist-padding-end};
	--pat-checklist-item-separation: ${$pat-checklist-item-separation};
}

@mixin checkbox() {
	display: grid;
	grid-template-columns: var(--pat-checklist-label-padding-start) auto;
	grid-template-areas: "icon label";
	padding-right: var(--pat-checklist-label-padding-end);

	body[dir=rtl] & { 
		padding-left: var(--pat-checklist-label-padding-end);
	}

	> * {
		grid-area: label;
	}
	
	&.checked:before,
	&.unchecked:before {
		font-family: fontello;
		content: '#{$glyph-checkbox}';
		font-weight: normal;
		background-color: white;
		height: 0.75em;
		width: 0.75em;
		line-height: 0.75em;
		border-radius: 7%;
		justify-self: center;
		align-self: start;
	    margin-top: calc(0.22* 1em);
		grid-area: icon;
	}

	&.disabled,
	&.disabled .label-fragment-description {
		color: rgba(0,0,0,0.3);
	}

	.label-fragment-title {
		margin: 0;
	}

	.label-fragment-description {
		margin: 0 0 0.5em 0;
		color: rgba(0,0,0,0.7);
		font-size: 0.9em;
		line-height: 1.4;

		> * {
			color: black;
		}
	}

	&.checked:before {
		content: '#{$glyph-checkbox-active}'
	}

	input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
		position: absolute;
		left: 0;
		width: 0;
		margin-top: 0.6px;
	}
}

label.pat-checklist {
	@include checkbox();
	padding-left: 1.1em;
	padding-right: 0.5em;

	&.checked:before,
	&.unchecked:before {
		top: 50%;
		transform: translateY(-50%);
	}
}

.pat-checklist:not(.free-form) {
	line-height: $checklist-label-line-height;
	min-height: 0.7em; // Important for single checkboxes with the class pat-checklist on the label.

	> legend,
	> .legend {
		// margin-bottom: 2 * $pat-checklist-item-separation;

		form.vertical &,
		form fieldset.vertical & {
			margin-bottom: 2 * $pat-checklist-item-separation;
		}
	}

	.pat-checklist-sub {
		padding-left: 1em;
		padding-bottom: 1em;

		> label,
		.label,
		> li > label {
			display: block;
			position: relative;
			@include checkbox();
			@include clear-fix();
			margin-top: $pat-checklist-item-separation;
			margin-bottom: $pat-checklist-item-separation;
			white-space: normal;
		}
	}

	> br {
		display: none;
	}

	&:not(.free-form) {
		> label,
		.label,
		li > label {
			display: block;
			position: relative;
			@include checkbox();
			// @include clear-fix();
			margin-top: $pat-checklist-item-separation;
			margin-bottom: var(--pat-checklist-item-separation);
			white-space: normal;
			font-weight: $font-weight-normal;

			&:first-of-type { 
				margin-top: 0;
			}	
		}
	}

	&.cloud {
		label {
			display: inline-block;
			margin-right: 1em;
		}
	}

	&.radio label,
	&.radio-bars label {

		&.unchecked:before {
			content: '#{$glyph-radio-button}';
			border-radius: 50%;
			font-size: 1em;
		}
		&.checked:before {
			content: '#{$glyph-radio-button-active}';
			border-radius: 50%;
			font-size: 1em;
		}
	}

    &.radio-bars:not(.free-form) {
    	border-radius: $border-radii;
		box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
		padding: 5px 5px 0 5px;
		background: $colour-base;

		label {
	    	border-radius: 0.75 * $border-radii;
	    	padding: 0.6em 0.6em 0.6em 40px;
	    	margin-bottom: 5px; 

	    	&:before,
	    	&:after {
	    		left: 12px !important;
	    		top: 50%;
	    		margin-top: 0;
	    	}

	    	&:hover {
				background: rgba(0,0,0,0.05);
	    	}

			&.checked {
				background: $colour-accent;
				color: white;

				&:before {
					color: black;
				}
			}
		}
    }

	fieldset.composed {
		padding-left: 0;
		margin-bottom: 0;
		position: relative;
	}

    .additional-meta-data {
        position: relative;
        float: right;
        width: 70%;
        right: -100%;
        top: 0;
        opacity: 0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        height: 0;

        .sidebar-large & {
            right: 0%;
            opacity: 1;
            height: auto;
        }
    }

    .meta-column {
        width: 0%;
        overflow: hidden;
        -moz-transition: width 1s;
        -webkit-transition: width 1s;
        transition: width 1s;
        float: right;
        padding: 0 0.5em;
        margin: 0;
        @include box-sizing();

        .item-selector & {
        	padding: 1.2em 0.5em 1em;
        }

        &.tag-cloud {
            width: 40%;
        }

        .sidebar-large & {
            width: 30%;

            &.tag-cloud {
                width: 40%;
            }
        }
    }
}