@charset "UTF-8";

$pat-checklist-item-separation: 0.2em !default;
$checklist-label-line-height: 1.2em !default;
$pat-checklist-padding-start: 1.5em !default;
$pat-checklist-padding-end: 0 !default;

:root {
	--pat-checklist-label-padding-start: #{$pat-checklist-padding-start};
	--pat-checklist-label-padding-end: #{$pat-checklist-padding-end};
	--pat-checklist-item-separation: #{$pat-checklist-item-separation};
	--pat-checklist-checkbox-size: 18px;
    --pat-checklist-checkbox-background-colour: white;
    --pat-checklist-checkbox-box-shadow: inset 0 0 0 2px black;
    --pat-checklist-checkbox-box-shadow-checked: none;
    --pat-checklist-checkbox-box-shadow-radio-checked: inset 0 0 0 2px var(--colour-accent), inset 0 0 0 5px white;
    --pat-checklist-checkbox-background-colour-checked: var(--colour-accent);
	--pat-checklist-checkbox-border-radius: calc(0.25 * var(--pat-checklist-checkbox-size));
	--pat-checklist-line-height: 24px;
	--pat-checklist-checkbox-vertical-position: 12px;
	--pat-checklist-margin-bottom: 1rem;
	--pat-checklist-font-size: inherit;
}

@mixin checkbox() {
	display: grid;
	grid-template-columns: var(--pat-checklist-label-padding-start) auto;
	grid-template-areas: 
		"icon label"
		".    description";
	align-items: start;
	padding-right: var(--pat-checklist-label-padding-end);
	-webkit-user-select: none;
	user-select: none;
	line-height: var(--pat-checklist-line-height);
	font-size: var(--pat-checklist-font-size);

	body[dir=rtl] & { 
		padding-left: var(--pat-checklist-label-padding-end);
	}

	> * {
		grid-area: label;
	}

	&:has(:focus):before {
		outline: var(--pat-form-input-field-outline-focus);
		outline-offset: var(--pat-form-input-field-outline-offset);
	}
	
	&:has(input[type="checkbox"]):before,
	&:has(input[type="radio"]):before {
		box-shadow: var(--pat-checklist-checkbox-box-shadow);
		content: '';
		font-weight: normal;
		background-color: var(--pat-checklist-checkbox-background-colour);
		font-size: 0;
		text-align: center;
		height: var(--pat-checklist-checkbox-size);
		width: var(--pat-checklist-checkbox-size);
		line-height: var(--pat-checklist-checkbox-size);
		border-radius: var(--pat-checklist-checkbox-border-radius);
		justify-self: start;
		grid-area: icon;
		position: relative;
		top: var(--pat-checklist-checkbox-vertical-position);
		transform: translateY(-50%);
		transition: all 0.2s ease-out;
	}

	&:has(input[type="radio"]):before {
		border-radius: 50%;
	}

	&:has(input:checked):before {
		background-color: var(--pat-checklist-checkbox-background-colour-checked);
		box-shadow: var(--pat-checklist-checkbox-box-shadow-checked);
		color: white;
		font-family: fontello;
		content: '#{$glyph-ok}';
		font-size: calc(0.7 * var(--pat-checklist-checkbox-size));
	}

	&:has([disabled]),
	&:has([disabled]) .label-fragment-description {
		// color: rgba(0,0,0,0.3);

		&:has(input[type="checkbox"]):before,
		&:has(input[type="radio"]):before {
			background-color: rgba(0,0,0,0.2);
			color: rgba(0,0,0,0.3);
			box-shadow: none;
		}
	}

	.label-fragment-title {
		margin: 0 0 0 -30px; // Keeps the simulated tickbox itself clickable.
		padding-left: 30px; // Keeps the simulated tickbox itself clickable.
	}

	.label-fragment-description {
		margin: 5px 0 12px 0;
		color: rgba(0,0,0,0.7);
		font-size: 0.9em;
		line-height: 1.4;
		grid-area: description;

		> * {
			color: black;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		// Hide but keep accessible for screen readers.
		opacity: 0;
		position: absolute;
		left: 0;
		width: 0;
		// margin-top: 0.6px;
		height: 100%;
		grid-area: icon;
	}
}

label.pat-checklist {
	@include checkbox();
	padding-left: 1.1em;
	padding-right: 0.5em;

	&:has(input[type="checkbox"]):before,
	&:has(input[type="radio"]):before {
		// top: 50%;
		// transform: translateY(-50%);
	}
}

.pat-checklist:not(.free-form) {
	line-height: $checklist-label-line-height;
	min-height: 0.7em; // Important for single checkboxes with the class pat-checklist on the label.
	margin-bottom: var(--pat-checklist-margin-bottom);

	> legend,
	> .legend {
		// margin-bottom: 2 * $pat-checklist-item-separation;

		form.vertical &,
		form fieldset.vertical & {
			margin-bottom: calc(2 * var(--pat-checklist-item-separation));
		}
	}

	.pat-checklist-sub {
		padding-left: 1em;
		padding-bottom: 1em;

		> label,
		.label,
		> li > label {
			display: block;
			position: relative;
			@include checkbox();
			@include clear-fix();
			margin-top: var(--pat-checklist-item-separation);
			margin-bottom: var(--pat-checklist-item-separation);
			white-space: normal;
		}
	}

	> br {
		display: none;
	}

	&:not(.free-form) {
		> label,
		.label,
		li > label {
			display: block;
			position: relative;
			@include checkbox();
			// @include clear-fix();
			margin-top: var(--pat-checklist-item-separation);
			margin-bottom: var(--pat-checklist-item-separation);
			white-space: normal;
			font-weight: $font-weight-normal;

			&:first-of-type { 
				margin-top: 0;
			}	
		}
	}

	&.cloud {
		label {
			display: inline-grid;
			margin-right: 1em;
		}
	}

	&:has(input[type="radio"]) label,
	&.radio-bars label {
		&:has(input:checked):before {
			content: '';
			box-shadow: var(--pat-checklist-checkbox-box-shadow-radio-checked);
		}
	}

	&.show-and-hide {
		label:has(input[type=checkbox]) {
			color: rgba(0,0,0,0.5);

			&:before {
				font-family: fontello;
				content: '#{$glyph-eye-off}';
				text-decoration: none;
				background-color: transparent;
				color: rgba(0,0,0,0.5);
				font-size: 1.3rem;
				box-shadow: none;
			}

			&:hover {
				color: black;
				
				&:before {
					color: black;
				}
			}

			&:has(input:checked) {
				color: black;

				&:before {
					color: black;
					content: '#{$glyph-eye}';
				}
			}
		}
	}

    &.radio-bars:not(.free-form),
	&.bars:not(.free-form) {
		--pat-checklist-label-padding-start: 50px;

    	border-radius: $border-radii;
		box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
		padding: 5px 5px 0 5px;
		background: $colour-base;

		> label {
	    	border-radius: 0.75 * $border-radii;
	    	padding: 0.6em 0.6em 0.6em 0;
	    	margin-bottom: 5px; 

			.label-fragment-description {
				margin-bottom: 0;
			}

			&:before {
				justify-self: center !important;
				align-self: center;
				grid-row: 1 / -1 !important;
				top: auto !important;
				transform: none !important;
			}

	    	// &:before,
	    	// &:after {
	    	// 	left: 12px !important;
	    	// 	top: 50%;
	    	// 	margin-top: 0;
	    	// }

	    	&:hover {
				background: rgba(0,0,0,0.05);
	    	}

			&:has(input:checked) {
				background: $colour-accent;
				color: white;

				> * {
					color: white;
				}

				&:before {
					color: black;
				}
			}
		}
    }

	fieldset.composed {
		padding-left: 0;
		margin-bottom: 0;
		position: relative;
	}

    .additional-meta-data {
        position: relative;
        float: right;
        width: 70%;
        right: -100%;
        top: 0;
        opacity: 0;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        height: 0;

        .sidebar-large & {
            right: 0%;
            opacity: 1;
            height: auto;
        }
    }

    .meta-column {
        width: 0%;
        overflow: hidden;
        -moz-transition: width 1s;
        -webkit-transition: width 1s;
        transition: width 1s;
        float: right;
        padding: 0 0.5em;
        margin: 0;
        @include box-sizing();

        .item-selector & {
        	padding: 1.2em 0.5em 1em;
        }

        &.tag-cloud {
            width: 40%;
        }

        .sidebar-large & {
            width: 30%;

            &.tag-cloud {
                width: 40%;
            }
        }
    }
}