@charset "UTF-8";

.pat-collapsible {

	.js {
		display: none;	  

		.patterns-loaded & {
		  	display: inherit;
		}
	}

    #product-space:not(.spotlight-on) & {
  		&:not(.pat-modal-pop-over) {
  			animation: fadeIn 1s;
  		}
  	}
}