.pat-comma-separated {
	> .segment {
		&:after {
			content: ', ';
			color: black;
			text-decoration: none;
			display: inline-block;
		}

		&:last-child {
			&:after {
				content: '.';
				color: black;
				text-decoration: none;
				display: inline-block;
			}
		}
	}
}