@mixin container {
   display: block;
   margin: 0 auto;
   max-width: var(--pat-container-width);
   padding: var(--pat-container-padding);
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

   @include screen-size(small) {
      --pat-container-padding: var(--pat-container-padding-small);
   }
}

.pat-container {
  @include container();
}
