.file-upload-button, {
  position: relative;
  overflow: hidden;

  &:has(:focus) {
    outline: var(--pat-form-input-field-outline-focus);
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}