.flag-list {
    display: grid;
    gap: 30px;
    grid-auto-rows: 1fr;

    @include screen-size(large) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @include screen-size(medium) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include screen-size(small) {
        grid-template-columns: 1fr 1fr;
    }

    .flag {
        text-align: center;

        a {
            display: block;
            font-size: 16px;
            line-height: 1.3;
        
            &:before {
                width: 100%;
                aspect-ratio: 5/3;
                display: block;
                content: '';
                margin-bottom: 10px;
                background-size: cover;
                background-position: center;
                box-shadow: $default-box-shadow;
                background-repeat: no-repeat;
                box-sizing: border-box;
                border-radius: $border-radii;
                transition: all 0.15s ease-out;
            }

            &:hover {
                &:before {
                    transform: scale(1.08);
                    box-shadow: $default-box-shadow-hover;
                }
            }
        }
    }

    // Germany
    .de a:before {
        background-image: linear-gradient(to bottom, #000 calc(100% / 3), #d00 calc(100% / 3) calc(100% / 1.5), #fc0 calc(100% / 1.5));
    }

    // Austria
    .at a:before {
        background-image: linear-gradient(to bottom, #ed2939 calc(100% / 3), #fff calc(100% / 3) calc(100% / 1.5), #ed2939 calc(100% / 1.5));
    }

    // Belgium
    .be a:before {
        background-image: linear-gradient(to right, #000 calc(100% / 3), #fdda24 calc(100% / 3) calc(100% / 1.5), #ef3340 calc(100% / 1.5));    
    }

    // Bulgaria
    .bg a:before {
        background-image: linear-gradient(to bottom, #fff calc(100% / 3), #00966e calc(100% / 3) calc(100% / 1.5), #d62612 calc(100% / 1.5));    
    }

    // Czech Republic
    .cz a {
        position: relative;

        &:before {
            background-image: linear-gradient(#ffffff 50%, #d7141a 50%);
            background-size: 100% 100%;
            background-position: 0 0, 0 0, 0 0;
            background-repeat: no-repeat, no-repeat, repeat;
        }

        &:after {
            content: '';
            width: 50%;
            aspect-ratio: 2.5/3;
            position: absolute;
            top: 0;
            left: 0;
            background: #11457e;
            -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }
    }

    // Estonia
    .ee a:before {
        background-image: linear-gradient(to bottom, #0072ce calc(100% / 3), #000 calc(100% / 3) calc(100% / 1.5), #fff calc(100% / 1.5));   
    }

    // France
    .fr a:before {
        background-image: linear-gradient(to right, #0055a4 calc(100% / 3), #fff calc(100% / 3) calc(100% / 1.5), #ef4135 calc(100% / 1.5));
    }

    // Hungary
    .hu a:before {
        background-image: linear-gradient(to bottom, #ce2939 calc(100% / 3), #fff calc(100% / 3) calc(100% / 1.5), #477050 calc(100% / 1.5));
    }

    // Ireland
    .ie a:before {
        background-image: linear-gradient(to right, #169b62 calc(100% / 3), #fff calc(100% / 3) calc(100% / 1.5), #ff883e calc(100% / 1.5));
    }

    // Italy
    .it a:before {
        background-image: linear-gradient(to right, #008c45 calc(100% / 3), #f4f5f0 calc(100% / 3) calc(100% / 1.5), #cd212a calc(100% / 1.5));
    }

    // Latvia
    .lv a:before {
        background-image: linear-gradient(to bottom, #9d2235 40%, #fff 40% 60%, #9d2235 60%);
    }

    // Lithuania
    .lt a:before {
        background-image: linear-gradient(to bottom, #fdb913 calc(100% / 3), #006a44 calc(100% / 3) calc(100% / 1.5), #c1272d calc(100% / 1.5));
    }

    // Luxembourg
    .lu a:before {
        background-image: linear-gradient(to bottom,#ef3340 calc(100% / 3),#fff calc(100% / 3) calc(100% / 1.5),#00a3e0 calc(100% / 1.5));
    }

    // Kingdom of the Netherlands
    .nl a:before {
        background-image: linear-gradient(to bottom, #ad1d25 calc(100% / 3), #fff calc(100% / 3) calc(100% / 1.5), #1e4785 calc(100% / 1.5));
    }

    // Poland
    .pl a:before {
        background-image: linear-gradient(to bottom, #fff 0 50%, #dc143c 50% 100%);
    }

    // Romania
    .ro a:before {
        background-image: linear-gradient(to right, #002b7f calc(100% / 3), #fcd116 calc(100% / 3) calc(100% / 1.5), #ce1126 calc(100% / 1.5));
    }

    // Kosovo
    .xk a:before,
    .cs a:before {
        background-color: #244aa5;
        background-size: 70%;
        background-image: url("../../default/style/flags/flag_xk.svg")
    }

    // Montenegro 
    .me a:before {
        border: solid 5px #E9B528;
        background-color: #E30613;
        background-image: url("../../default/style/flags/flag_me.svg")
    }

    // Norway
    .no a:before {
        background-image: url("../../default/style/flags/flag_no.svg")
    }

    // Slovenia
    .si a:before {
        background-image: url("../../default/style/flags/flag_si.svg")
    }

    // Turkey
    .tr a:before {
        background-color: #e30a17;
        background-image: url("../../default/style/flags/flag_tr.svg")
    }

    // Greece
    .gr a:before {
        background-size: auto 100%;
        background-position: top left;
        background-image: url("../../default/style/flags/flag_gr.svg")
    }

    // Israel
    .il a:before {
        background-color: white;
        background-size: cover;
        background-image: url("../../default/style/flags/flag_il.svg")
    }

    /*
    * Phoca Flags 1.0.0 by Jan Pavelka
    * Copyright 2013 Jan Pavelka ( http://www.phoca.cz )
    * License GNU General Public License version 3
    */

    /* andorra */
    .ad a:before {
        background-image: url("../../default/style/flags/flag_ad.svg");
    }

    /* albania */
    .al a:before {
        background-color: #de2110;
        background-size: 70% auto;
        background-image: url("../../default/style/flags/flag_al.svg");
    }

    /* armenia */
    .am a:before {
        background-image: url("../../default/style/flags/flag_am.svg");
    }

    /* basque */
    .basque a:before {
        background-image: url("../../default/style/flags/flag_basque.svg");
    }

    /* bosnia_and_herzegovina */
    .ba a:before {
        background-color: #161796;
        background-image: url("../../default/style/flags/flag_ba.svg");
    }

    /* catalonia */
    .catalonia a:before {
        background-image: url("../../default/style/flags/catalonia.svg");
    }

    /* switzerland */
    .ch a:before {
        background-image: url("../../default/style/flags/flag_ch.svg");
        background-size: 60% auto;
        background-color: #d52b1e;
    }

    /* cyprus */
    .cy a:before {
        background-image: url("../../default/style/flags/flag_cy.svg");
    }

    /* denmark */
    .dk a:before {
        background-image: url("../../default/style/flags/flag_dk.svg");
        // background-color: #D81E05;
        // background-image: 
        //     linear-gradient(180deg, transparent, transparent 71px, #FFF 71px, #FFF 95px, transparent 95px, transparent 100%), 
        //     linear-gradient(90deg, transparent, transparent 71px, #FFF 71px, #FFF 95px, transparent 95px, transparent 100%);
    }

    /* spain */
    .es a:before {
        background-image: url("../../default/style/flags/flag_es.svg");
    }

    /* europe */
    .eu a:before {
        background-color: #039;
        background-size: 85% auto;
        background-image: url("../../default/style/flags/flag_eu.svg");
    }

    /* finland */
    .fi a:before {
        background-image: url("../../default/style/flags/flag_fi.svg");
    }

    /* united_kingdom */
    .gb a:before {
        background-image: url("../../default/style/flags/flag_gb.svg");
    }

    /* croatia */
    .hr a:before {
        background-image: url("../../default/style/flags/flag_hr.svg");
    }

    /* iceland */
    .is a:before {
        background-image: url("../../default/style/flags/flag_is.svg");
    }

    /* liechtenstein */
    .li a:before {
        background-image: url("../../default/style/flags/flag_li.svg");
        
    }

    /* macedonia */
    .mk a:before {
        background-image: url("../../default/style/flags/flag_mk.svg");

    }

    /* malta */
    .mt a:before {
        background-position: top left;
        background-image: url("../../default/style/flags/flag_mt.svg");
    }

    /* portugal */
    .pt a:before {
        background-image: url("../../default/style/flags/flag_pt.svg");
    }

    /* serbia */
    .rs a:before {
        background-image: url("../../default/style/flags/flag_rs.svg");
        
    }

    /* sweden */
    .se a:before {
        background-image: url("../../default/style/flags/flag_se.svg");
    }

    /* slovakia */
    .sk a:before {
        background-image: url("../../default/style/flags/flag_sk.svg");
        
    }

    /* ukraine */
    .ua a:before {
        background-image: url("../../default/style/flags/flag_ua.svg");
        
    }

}