// .pat-modal {
//   .panel-body {
//     > .select2-container-multi .select2-choices {
//         padding: 0.3em 0.8em;
//     }
//   }
// }

@include screen-size(small) {

  div.pat-modal {
    overflow: auto;
    top: 50px;

    .panel-body {
      padding: 75px 15px 15px;
    }

    .panel-footer {
      .container {
        padding: 0;
      }
    }

    .wizard-box .panel-body,
    &.max-height .wizard-box .panel-body {
      padding: 75px 15px 50px;
    }

    .header {
      background: $colour-header;
      height: 50px;

      .close-panel {
        right: 15px;
        top: 0;
        opacity: 1;
        padding: 15px;

        &:before {
          color: white;
          font-size: 28px;
          line-height: 50px;
        }
      }
    }
  }
}

.pat-modal.hamburger-menu {
  // font-size: 1.5em;
  // line-height: 1.4em;
  > .panel-content {
    a {
      display: block;
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
      margin-bottom: -1px;
      padding: 0.3em 0;
      text-decoration: none;
      color: black;
    }
  }
}

.pat-modal.document-preview {
  .document {
    max-width: 1000px;
  }
}

.pat-modal.tabbed {
  .panel-content {
    @include screen-size(medium-large) {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }

    @include screen-size(small) {
      overflow: auto;
    }

    .panel-tabs {
      @include screen-size(medium-large) {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        margin-right: 3em;
        padding-right: 0;
        z-index: 1;
      }

      @include screen-size(large) {
        left: 50%;
        margin-left: -629px;
        border-right: 1px solid silver;
      }

      @include screen-size(medium) {
        left: 30px;
        border-right: 1px solid silver;
      }

      @include screen-size(small) {
        padding: 0;
      }

    }

    .panel-body {
      @include screen-size(small) {
        overflow: visible;
        position: static;
        padding: 0;
      }

      @include screen-size(medium-large) {
        overflow: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: fixed;

        .container {
          display: table;
          height: 100%;
          width: 100%;
          padding-left: 190px;

          .panel-sheets {
            // float: left;
            // width: calc(100% - 7em);
            padding: 80px 0;
            display: table-cell;
            vertical-align: middle;

            .sheet-content {
              border-left: 1px silver solid;

              @include screen-size(medium) {
                padding-left: 40px;
                margin-left: -40px;
                max-width: 1010px; // Bleed protection
              }
              @include screen-size(large) {
                padding-left: 59px;
                margin-left: -59px;
                max-width: 1010px; // Bleed protection
              }
            }
          }
        }
      }
    }
  }
}