$pat-notifications-top-distance: 0 !default;

.pat-notification-panel {
  width: 380px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  button {
    @include pat-button;
    font-size: $button-small-font-size;
    padding: $button-small-paddings;
    line-height: $button-small-height;
    vertical-align: baseline;
  }

  @include screen-size(small) {
    width: 100%;
    @include box-sizing;
  }

  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: 1em;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  display: block;
  border-radius: $border-radii;
  background-color: rgba(255,255,255,0.5);
  color: rgba(0,0,0,0.8);
  border: 1px solid white;
  -webkit-backdrop-filter: blur(3px) saturate(0.5);
  backdrop-filter: blur(3px) saturate(0.5);

  p {
    hyphens: auto;
  }

  a {
    text-decoration: underline;
  }

  &.notice {
    background-color: $colour-notice-background;
  }

  &.success {
    background-color: $colour-success-background;
    color: black;
    
    * {
      color: black !important;
      //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    }
  }

  &.warning {
    background-color: $colour-warning-background;

    * {
      color: black !important;
    }
  }

  &.error {
    background-color: $colour-error-background;

    * {
      color: black !important;
    }
  }

  &.info {
    background-color: $colour-info-background;
    color: #154963;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

#pat-notification-banners {
  position: fixed;
  top: $pat-notifications-top-distance;
  right: 0;
  padding: 15px 0;
  overflow: auto;
  z-index: 2147483647;
  max-height: calc(100vh - #{$pat-notifications-top-distance});

  @include screen-size(small) {
    left: 0;
  }

  .pat-notification-panel {
    padding-right: 55px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }

  .close-panel {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: transparent !important;
    @include close-button;
  }
}
