@mixin button-drop-down-segment {
  font-family: fontello;
  content: '#{$glyph-down-open}';
  width: var(--pat-select-box-arrow-width);
  background-color: var(--pat-select-box-arrow-background-colour);
  background-image: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: var(--pat-select-box-arrow-size);
  border-top-right-radius: var(--pat-form-fields-border-radius);
  border-bottom-right-radius: var(--pat-form-fields-border-radius);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin select-box() {
  padding: 0 75px 0 12px;
  display: inline-block;
  height: var(--pat-select-box-height);
  line-height: var(--pat-select-box-height);
  padding-top: var(--pat-select-box-padding-top-bottom);
  padding-bottom: var(--pat-select-box-padding-top-bottom);
  padding-left: var(--pat-select-box-padding-start);
  padding-right: calc((var(--pat-select-box-arrow-width) + var(--pat-select-box-padding-start) / 2)); // -5px to put the text a little closer to the arrow on the right hand side.
  position: relative;
  font-weight: normal !important;
  position: relative;
  box-sizing: border-box;
  border: var(--pat-form-input-field-border);
  border-radius: var(--pat-form-input-field-border-radius);
  box-shadow: var(--pat-select-box-box-shadow);
  outline: var(--pat-form-input-field-outline);
  outline-offset: var(--pat-form-input-field-outline-offset);
  color: var(--pat-select-box-arrow-text-colour);
  font-size: var(--pat-select-box-font-size);
  max-width: 100%;
  background-color: var(--pat-select-box-background-colour);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;

  &:hover {
    background-color: var(--pat-select-box-background-colour-hover);
  }

  &.success {
    --pat-select-box-background-colour: #{$colour-success-background};
    --pat-select-box-arrow-text-colour: #{$colour-success-dark};

    &:hover {
      --pat-select-box-background-colour-hover: #{$colour-success-background-dark};
      --pat-select-box-arrow-text-colour: black;
    }
  }

  &[data-value="draft"],
  &.state-draft {
    background-color: #{$colour-orange-xl};
    color: #{$colour-orange-xd};

    &:after {
      background-color: #{$colour-orange-l};
    }

    &:before,
    &:after {
      color: #{$colour-orange-xd};
    }

    &:hover,
    &.tooltip-active-click {
      background-color: color-mix(in srgb, #{$colour-orange-xl} 95%, black);

      &:after {
        background-color: color-mix(in srgb, #{$colour-orange-l} 95%, black);
      }
    }
  }

  &[data-value="for-review"],
  &.state-for-review {
    background-color: #{$colour-violette-xl};
    color: #{$colour-violette};

    &:after {
      background-color: #{$colour-violette-l};
    }

    &:before,
    &:after {
      color: color-mix(in srgb, #{$colour-violette} 85%, black);
    }

    &:hover,
    &.tooltip-active-click {
      background-color: color-mix(in srgb, #{$colour-violette-xl} 95%, black);

      &:after {
        background-color: color-mix(in srgb, #{$colour-violette-l} 95%, black);
      }
    }
  }

  &[data-value="approved"],
  &.state-approved {
    background-color: #{$colour-green-xl};
    color: #{$colour-green-d};

    &:after {
      background-color: #{$colour-green-l};
    }

    &:before,
    &:after {
      color: color-mix(in srgb, #{$colour-green} 85%, black);
    }

    &:hover,
    &.tooltip-active-click {
      background-color: color-mix(in srgb, #{$colour-green-xl} 95%, black);

      &:after {
        background-color: color-mix(in srgb, #{$colour-green-l} 95%, black);
      }
    }
  }

  &[data-value="published"],
  &[data-value="sent"],
  &.state-published,
  &.state-sent {
    background-color: #{$colour-dark-blue-xl};
    color: color-mix(in srgb, #{$colour-dark-blue} 85%, black);

    &:after {
      background-color: #{$colour-dark-blue-l};
    }

    &:before,
    &:after {
      color: color-mix(in srgb, #{$colour-dark-blue} 85%, black);
    }

    &:hover,
    &.tooltip-active-click {
      background-color: color-mix(in srgb, #{$colour-dark-blue-xl} 95%, black);

      &:after {
        background-color: color-mix(in srgb, #{$colour-dark-blue-l} 95%, black);
      }
    }
  }

  &.locked {
    &:before {
      font-family: fontello;
      content: "#{$glyph-lock}";
      display: inline-block;
      margin-right: 5px;
      float: left;
      font-size: inherit;
    }
  }

  // &:hover,
  // &.tooltip-active-click {
  //   background-color: $button-background-colour-hover;
  // }

  &:not([class*="icon-"]) {
    &:before {
      font-size: var(--pat-select-box-font-size);
      content: attr(data-option);
      // padding-right: var(--pat-select-box-arrow-width);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  &[class*=icon-] {
    &:before {
      margin-left: -5px;
      margin-right: 8px;
    }
  }

  select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100% !important;
    width: 100% !important;
    opacity: 0;
    margin: 0;
    z-index: 1;

    option {
      font-size: initial;
      color: black;
    }
  }

  &:after {
    @include button-drop-down-segment;
  }

  option:disabled {
    color: silver;
  }
}

.js { 
  select.pat-select,
  label.pat-select select {
    @include select-box;
  }

  a.pat-select {
    @include select-box;

    &:hover {
      text-decoration: none;
    }

    &:after {
      @include button-drop-down-segment;
      width: 30px;
    }
  }

  select.bare {
    background-color: transparent !important;
    background-position: calc(100% - var(--pat-select-arrow-edge-distance)) center;
    background-image: url(data:image/svg+xml;base64,#{$arrow-down-dark});
    background-size: auto 10px;
    background-repeat: no-repeat;
  }

  label.pat-select.bare,
  a.pat-select.bare,
  select.bare {
    --pat-select-arrow-edge-distance: 1px;
    --pat-select-arrow-space: 20px;
    appearance: none;
    position: relative;
    cursor: default;
    @include box-sizing();
    padding: 0 var(--pat-select-arrow-space) 0 0;
    white-space: nowrap; // Used to be commented out. Check if this doesn't give trouble anywhere.
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    border-radius: var(--pat-form-fields-border-radius);
    outline-offset: var(--pat-form-input-field-outline-offset);

    &:hover,
    &.focus { 
      text-decoration: none !important;
    }

    @media print { 
      background-image: none; 
      padding-right: 0;
    }

    &:after {
      content: ' ';
      padding-right: var(--pat-select-arrow-space);
      box-shadow: none !important;
      position: absolute; // Added to avoid dropdowns to push open display table elements such as the contextual button bar of item selector/sidebar.
      top: 2%; // Added to avoid dropdowns to push open display table elements such as the contextual button bar of item selector/sidebar.
      right: 0; // Added to avoid dropdowns to push open display table elements such as the contextual button bar of item selector/sidebar.
      bottom: 0; // Added to avoid dropdowns to push open display table elements such as the contextual button bar of item selector/sidebar.
      pointer-events: none; // Added to avoid dropdowns to push open display table elements such as the contextual button bar of item selector/sidebar.

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      background-repeat: no-repeat;
      background-position: calc(100% - var(--pat-select-arrow-edge-distance)) center;
      background-image: url(data:image/svg+xml;base64,#{$arrow-down-dark});
      background-size: auto 10px;
    }

    &:before {
      display: inline-block;
      content: attr(data-option);
      float: left; // Needed for IE
      max-height: 100%;
      max-width: 100%;
      font-weight: normal;

      // @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      //   margin-right: 2.6em;
      // }

      box-shadow: none !important;  

      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:has(:focus) {
      outline: var(--pat-form-input-field-outline-focus);
    }

    select {
      opacity: 0;
      line-height: 1.5em;
      font-size: 1em;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      max-width: 100%;
      width: 100%;
      border-right: none;
    }
  }
}
