.pat-sortable-blocks {
	counter-reset: count;
	-webkit-user-select: none;
	user-select: none;
	display: none;

	&:has(.remove-clone) {
		margin-right: 36px;
	}

	.horizontal & {
		margin-right: 0;
	}

	& + .pat-button-bar {
		.horizontal & {
			margin-top: 0px;
		}

		.horizontal & {
			margin-bottom: 0;
		}
	}

	.pat-button-bar {
		transition: padding-left 0.4s;
	}

	&:has(.sortable-item) {
		display: block;
		padding-top: 20px;
		margin-top:    calc(-1 * var(--pat-sortable-blocks-gap) + -1 * var(--pat-form-input-field-padding-top-bottom)) - 20px;
		margin-bottom: calc(-1 * var(--pat-sortable-blocks-gap) + -1 * var(--pat-form-input-field-padding-top-bottom));
	}

	&:has(.sortable-item) + .pat-button-bar {
		margin-top: calc(2 * var(--pat-sortable-blocks-gap) + var(--pat-form-input-field-padding-top-bottom));
		padding-left: var(--pat-sortable-blocks-padding-start);
	}

	.sortable-item {
		// list-style: decimal;
		counter-increment: count;
		padding: var(--pat-sortable-blocks-gap) 0;
		position: relative;
		margin: 0 0 0 var(--pat-sortable-blocks-padding-start);

		&.dragged {
			opacity: 0.5;
		}

		&:not(.dragged) {
			animation: fadeIn 1s;
		}

		&:after {
			display: block;
			opacity: 0;
			height: 2px;
			content: ' ';
			background: $colour-link;
			position: absolute;
			left: -15px;
			right: 15px;
		}

		&.drop-target-above,
		&.drop-target-below {
			&:after {
				opacity: 1;
			}

			.sortable-handle {
				margin-top: -24px;
			}
		}

		&.drop-target-above:after {
			top: -1px;
		}

		&.drop-target-below:after {
			bottom: -1px;
		}

		&:before,
		.sortable-handle {
			content: counter(count);
			text-align: center;
			line-height: var(--pat-sortable-blocks-button-width);
			color: white;
			display: block;
			position: absolute;
			left: calc(-1 * var(--pat-sortable-blocks-padding-start));
			top: 	var(--pat-sortable-blocks-gap);
			bottom: var(--pat-sortable-blocks-gap);
			width: var(--pat-sortable-blocks-button-width);
			background: var(--pat-sortable-blocks-handle-colour);
			border-radius: $border-radii;
			overflow: hidden;
			margin: 0;

			@media print {
				background: transparent;
				width: 1em;
				text-align: left;
				color: black;
			}
		}

		&:has(.sortable-item-functions) {
			min-height: 88px;

			.sortable-handle {
				height: var(--pat-sortable-blocks-button-width);
			}

			&:before {
				height: var(--pat-sortable-blocks-button-width);
			}
		}

		.sortable-item-functions {
			margin-top: calc(var(--pat-sortable-blocks-button-width) + 15px);
			position: absolute;
			top: 0;
			left: calc(var(--pat-sortable-blocks-padding-start) * -1);

			.pat-button {
				margin-bottom: 15px;
				width: var(--pat-sortable-blocks-button-width);
				
				&::before {
					font-family: fontello;
					display: block;
					font-weight: normal;
				}

				&.edit {
					&::before {
						content: "#{$glyph-pencil}";
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.sortable-handle {
			opacity: 0;
			text-indent: -10em;
			background: var(--pat-sortable-blocks-handle-colour);
			cursor: grab;
			color: transparent;

			&:hover {
				filter:
					brightness(0.9),
					contrast(1.1);
			}

			&:active,
			&:focus {
				cursor: grabbing;
			}

			&:before {
				content: "#{$glyph-arrow-combo}";
				display: block;
				font-family: fontello;
				text-indent: 0.1em;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				font-size: 0.8em;
				color: white;
			}
		}

		&:hover {
			.sortable-handle {
				opacity: 1;

				&:hover {
					text-decoration: none;
				}
			}
		}

		&:active,
		&:focus {
			.sortable-handle {
				cursor: grabbing;
			}
		}

		> .button-cluster {
			@include assistive-text;
		}

		.pat-well {
			margin-bottom: 0;
		}

		.field-cluster {
			margin-top: 0;
			margin-bottom: 0;
			min-height: calc(var(--pat-form-input-field-line-height) + var(--pat-form-input-field-padding-top-bottom) * 2);
			
			textarea,
			input,
			.output-field {
				margin: 0;
			}
		}

		.remove-clone {
			color: transparent;
			font-family: fontello;
			position: relative;
			margin: 0;
			line-height: var(--pat-form-input-field-line-height);
			height: var(--pat-sortable-blocks-remove-button-height);
			width: var(--pat-sortable-blocks-remove-button-width);
			overflow: hidden; // Prevents click surface stretching out too much because of its content.
			background: transparent;
			position: absolute;
			right: -31px;
			top: calc(var(--pat-form-input-field-padding-top-bottom) + 2px);

			&:hover:before,
			&.tooltip-active-click:before {
				background-color: $button-background-colour-default-hover;
			}

			&:before {
				content: '#{$glyph-minus}';
				border-radius: var(--pat-sortable-blocks-remove-button-icon-border-radius);
				background-color: $button-background-colour;
				color: #{$button-text-colour};
				transform: none;
				margin: 0;
				font-family: fontello;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				line-height: var(--pat-sortable-blocks-remove-button-icon-height);
				height: var(--pat-sortable-blocks-remove-button-icon-height);
				width: 100%;
				text-align: center;
				font-weight: normal;
				font-style: normal;
				font-size: 0.8em;
				transition: opacity 0.8s;
				transition-delay: 0.3s;
				overflow: hidden;
			}

			&:hover:before {
				background-color: $button-background-colour-hover;
				color: #{$button-text-colour-hover};
			}
		}

		&:not(.clone) {
			.remove-clone {
				display: none;
			}
		}
	}

}