$colour-form-fields-background: #efefef;

:root {
    --pat-toggle-height: 26px;
    --pat-toggle-switch-border-radius: 14px;
    --pat-toggle-background-colour-off: silver;
    --pat-toggle-background-colour-on: #{$colour-success};
    --pat-toggle-toggle-distance: 2px;
    --pat-toggle-toggle-border-radius: 50%;
    --pat-toggle-toggle-background-colour: white;
    --pat-toggle-text-colour: white;
    --pat-toggle-padding-start-end: 10px;
}

.pat-toggle-switch {
    label {
        display: inline-block;
        font-size: calc(0.6 * var(--pat-toggle-height));
        position: relative;
        height: var(--pat-toggle-height);
        background-color: var(--pat-toggle-background-colour-off);
        border-radius: var(--pat-toggle-switch-border-radius);
        transition: all 0.3s;
        justify-self: start;
        position: relative;
        box-sizing: border-box;
        padding: 0 calc( ( var(--pat-toggle-height) - 2 * var(--pat-toggle-toggle-distance) ) + 0.5 * var(--pat-toggle-padding-start-end) ) 0 var(--pat-toggle-padding-start-end);
        line-height: var(--pat-toggle-height);
        color: transparent;
        
        input {
            position: absolute;
            opacity: 0; // Hide with opacity instead of display: none; for accessibility.
        }
    
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: var(--pat-toggle-toggle-distance);
            width: calc(var(--pat-toggle-height) - (var(--pat-toggle-toggle-distance) * 2));
            height: calc(var(--pat-toggle-height) - (var(--pat-toggle-toggle-distance) * 2));
            border-radius: var(--pat-toggle-toggle-border-radius);
            transition: all 0.2s;
            background-color: var(--pat-toggle-toggle-background-colour);
            top: 50%;
            transform: translateY(-50%);;
        }
    
        &:has(input:checked) {
            background-color: var(--pat-toggle-background-colour-on);
            color: var(--pat-toggle-text-colour);

            &::after {
                left: calc(100% - ( var(--pat-toggle-height) - var(--pat-toggle-toggle-distance) ) );
            }
        }
    }
}