@charset "UTF-8";

.tippy-popper {
	overflow-y: visible !important;
}

.tippy-tooltip {
	.tippy-content {
		min-width: 250px;
	}

	h1 {
		font-weight: 200; 
		font-size: 1.5em;
		line-height: 1.3;
		margin-bottom: 0.7em;
	}

	.discrete {
		font-size: 14px;
		line-height: 1.3;
	}

	.subscribe-to-calendar {
		margin-bottom: 25px;

		p {
			margin-bottom: 10px;
		}

		label {
			font-weight: bold;
			font-size: 0.8em;

		    textarea {
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				margin-top: 0.4em;
				margin-bottom: 0;
				color: black;
				padding: 0.7em 1em;
				background-color: $colour-base;
				border: none;
				@include box-sizing;
				line-height: 1.5;
		    }
		}
	}
	
	ul.menu {
		@include screen-size(medium-large) {
			.menu-item-sidebar {
				display: none;
			}
		}

		@include screen-size(small) {
			.menu-item-toggle-on-screen-help {
				display: none;
			}
		}
	}

	&.rich {
		.footer {
			background-color: rgba(255,255,255,0.8);
			margin: 0 -1em -1em -1em;
			padding: 1.5em;
			border-bottom-left-radius: $border-radii;
			border-bottom-right-radius: $border-radii;

			.icon-lightbulb:first-child:before {
				text-align: left;
				width: 0.8em;
			}
		}

		p.footer {
			margin: 0 -1em -1em -1em; // Override pat-rich values.
		}

		h3 {
			font-weight: bold;
		}
	}

    .onscreen-help {
        float: right;
        top: -3px;
        right: 30px;
    }

	&.portal-navigation,
	&.type-auto.portal-navigation,
	&.personal-menu,
	&.personal-menu.portal-navigation {
		.container {
			padding: 0;
			margin: 0;
		}
		.tippy-content {
			a.tab  {
				display: block;     
      			line-height: 1.3em;
	            padding: 0.3em 0 0.3em 1.6em;
	            color: black;

	            &:before {
	                margin-left: -1.5em;
	                font-family: fontello;
	                float: left;
	            }
	            &.section-dashboard:before {
	                content: '#{$glyph-icon-dashboard}';
	            }

	            &.section-news:before {
	                content: '#{$glyph-icon-newspaper-angle}';
	            }

	            &.section-library:before {
	                content: '#{$glyph-icon-library-section}';
	            }

	            &.section-workspaces:before {
	                content: '#{$glyph-icon-workspace}';
	            }

	            &.section-apps:before {
	                content: '#{$glyph-icon-app}';
	            }
			}

  			a.title,
  			a.organisation {
  				display: none;
  			}
		}
	}
}

.tooltip-container {
	.subscribe-to-calendar {
		margin-bottom: 25px;

		p {
			margin-bottom: 10px;
		}

		label {
			font-weight: bold;
			font-size: 0.8em;

		    textarea {
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				margin-top: 0.4em;
				margin-bottom: 0;
				color: black;
				padding: 0.7em 1em;
				background-color: $colour-base;
				border: none;
				@include box-sizing;
				line-height: 1.5;
		    }
		}
	}

	ul.menu {
		@include screen-size(medium-large) {
			.menu-item-sidebar {
				display: none;
			}
		}

		@include screen-size(small) {
			.menu-item-toggle-on-screen-help {
				display: none;
			}
		}
	}

	&.rich {
		.footer {
			background-color: rgba(255,255,255,0.8);
			margin: 0 -1em -1em -1em;
			padding: 1.5em;

			.icon-lightbulb:first-child:before {
				text-align: left;
				width: 0.8em;
			}
		}

		h3 {
			font-weight: bold;
		}
	}
}

.tooltip-container {
	h1 {
		font-weight: 200; 
		font-size: 1.5em;
		line-height: 1.3;
		margin-bottom: 0.7em;
	}


	.suscribe-to-calendar {
	    textarea {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			margin-top: 0.4em;
			margin-bottom: 0;
			color: black;
			padding: 0.7em 1em;
			background-color: $colour-base;
			border: none;
			@include box-sizing;
			line-height: 1.5;
	    }
	}
	
	@include screen-size(small) {
		background: transparent;

		> div {
			position: fixed;
			top: 50px;
			height: auto !important;
		}

		> .close-panel,
		&.type-auto > .close-panel {
			line-height: 1.5em;
		    float: left;
		    box-shadow: none;
		    border: none;
		    background: none;
		    padding: 0 10px;
		    line-height: 52px;
		    height: 50px;
		    @include box-sizing;
		    top: 0;
		    left: 0;
		    right: 0;
		    position: fixed;
		    color: white;
		    z-index: 100;
		    display: none;
		    background: $colour-header;
		    border-radius: 0;
		    display: block;
		    text-indent: 0;
		    font-size: 20px;
		    width: auto;

		    &:before {
		    	font-family: fontello;
		    	content: '#{$glyph-icon-arrow-left}';
		    	font-style: normal;
				font-weight: normal;
				font-variant: normal;
				speak: none;
				display: inline-block;
				text-decoration: inherit;
				width: 1em;
				margin-right: .2em;
				text-align: center;
				text-transform: none;
				line-height: 1em;
				margin-left: .2em;
				-webkit-font-smoothing: antialiased;
				font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				// float: left;
		    }

			&:after {
			  display: none;
			}
		}
	}

	.panel-footer {


		&.buttons {
			position: -webkit-sticky;
			position: sticky;
			bottom: 0;
			// left: 1em;
			// right: 1em;

			button,
			.pat-button {
				background-color: white;
				
				&.float-after {
					margin: 0 0 0 10px;
				}
			}

			&:before {
				position: absolute;
				bottom: -1em;
				z-index: -1;
				left: 0;
				right: 0;
				content: ' ';
				display: block;
				width: 100%;
				height: 100px;
				pointer-events: none;

				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* W3C */
			}
		}
	}

	&.rich {
		h3 {
			font-weight: bold;
		}
		
		.footer {
			background-color: rgba(255,255,255,0.8);
			margin: 0 -1em -1em -1em;
			padding: 1.5em;

			.icon-lightbulb:first-child:before {
				text-align: left;
				width: 0.8em;
			}

			a {
				cursor: pointer;
			}
		}
	}

	&.portal-navigation,
	&.type-auto.portal-navigation,
	&.personal-menu,
	&.personal-menu.portal-navigation {
		@include screen-size(small) {
			top: 50px !important;
			left: 0 !important; 
			right: 0 !important;
			height: auto !important;
			bottom: 0 !important;
			padding: 0% 2% 6% !important;

			> .close-panel {
				display: none;
			}

			> div {
				bottom: auto;
				box-shadow: 0 0 20px rgba(0,0,0,0.2);
				border-bottom: 1px silver solid;
			}
		}
	}

	&.event, &.absence {
		@include screen-size(large) {
			width: 50%;
		}

		> .close-panel {
			display: none;
		}

		> div {
			// overflow: visible;
			padding: 1.5em 2em;

			.panel-footer.buttons:before {
				bottom: -2em;
			}

			h1 {
				display: none;
			}
		}
	}

	.button-bar {
		margin-bottom: 1em;

		.pat-button {
			display: inline-block;
			padding: 0 0.8em;
		}
	}
}