@charset "UTF-8";

$pat-toolbar-button-height: $button-height !default;
$colour-toolbar-button: transparent !default;
$pat-toolbar-element-separation: 10px !default;
$pat-tail-white: 15px !default;
$pat-toolbar-font-size: 18px !default;

.pat-toolbar {
	@include clear-fix();
	color: rgba(0,0,0,0.6);
	position: relative;
	z-index: 2;
	padding: 10px;
	border-radius: $border-radii;
	font-size: $pat-toolbar-font-size;

	@include screen-size(medium-large) {
		margin: 0 -10px 40px;
		height: $pat-toolbar-button-height;
	}

	@include screen-size(small) {
		margin: 0 -10px;
	}

	&.inline {
		margin: 0;
		padding: 0;
	}

	&.sticky {
		-webkit-position: sticky;
		position: sticky;
		transition: box-shadow 1s;
		top: -40px;
		transition: all 1s;

	    :not(.scroll-position-top) &,
	    :not(.scroll-position-top) & {
	      	box-shadow: $default-box-shadow;

			background-color: rgba(255,255,255,0.9);
			.backdropfilter & {
				background-color: rgba(255,255,255,0.15);
				-webkit-backdrop-filter: blur(50px) saturate(4) brightness(1.2);
				backdrop-filter: blur(50px) saturate(4) brightness(1.2);
			}
	    }
	}

	.toolbar-navigation-area,
	.toolbar-functions-area {
		@include screen-size(medium-large) {
			display: grid;
			grid-template-columns: 1fr 4fr 1fr;
			grid-template-areas: "left middle right";
		}

		@include screen-size(small) {
			margin-bottom: 15px;
		}
	}

	&.type-document {
		.toolbar-navigation-area,
		.toolbar-functions-area {
			@include screen-size(medium-large) {
				grid-template-columns: 1fr 0fr 4fr;
				grid-template-areas: "left middle right";
			}
		}
	}

	.toolbar-navigation-area {
		@include screen-size(medium-large) {
			height: 0; 
		}

		@include screen-size(small) {
			margin-bottom: 25px;
		}
	}

	.toolbar-section {
		vertical-align: top;
		box-sizing: border-box;

		* {
			white-space: normal;
		}

		&.view-options {
			grid-area: left;

			.pat-button-cluster,
			.pat-buttton,
			> .icon {
				margin-right: 30px;
			}

			@include screen-size(small) {
				float: left;
				width: auto;			}
		}

		&.quick-functions {
			text-align: right;
			grid-area: right;

			.icon,
			.pat-button {
				margin-left: 20px;
				margin-right: 0;
			}
		}

		&.navigation {
			grid-area: middle;

			@include screen-size(medium-large) {
				text-align: center;
			}

			.pat-select {
				margin: 0;
				box-shadow: inset 0 1px 6px rgba(0,0,0,0.15);
			}
		}
	}

	@media print { display: none; }

	.toolbar-section > label.pat-checklist {
		// This needs rewriting.
		
		margin-left: 1em;

		&:before {
			top: 15px;
		}
		
		&:hover {
			color: black;
		}
	}

	.pat-context-menu {
		display: inline-block;
	}

	> .pat-select,
	.toolbar-section > .pat-select,
	.pat-context-menu > .context-menu-label,
	> input[type="search"],
	.toolbar-section label.pat-checklist {
		display: inline-block;
		vertical-align: top;
		height:  $canvas-toolbar-button-height;
		line-height: $canvas-toolbar-button-height;

		select {
			line-height: $pat-toolbar-button-height;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	
	.pat-button,
	.icon {
		display: inline-block;
		vertical-align: top;
		line-height: $pat-toolbar-button-height;
		border: none;
		background-color: $colour-toolbar-button;
		float: none;
		white-space: nowrap;

		&.meta-data-toggle {
			transition: transform 0.3s;

			.more-metadata & {
				transform: scaleY(-1);
			}
		}

		@include screen-size(small) {
			margin: 0 20px 0 0;
		}

		&:active {
			box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
		}

		&:not(.active):not([disabled]):hover {
			color: black
		}
	}

	>,
	.pat-toolbar-section > {
		.pat-button,
		.pat-icon,
		.pat-button-cluster,
		.pat-back-button,
		.pat-select,
		.pat-context-menu {
			margin-right: $pat-toolbar-element-separation;
		}
	}

	.pat-progress-bar {
		margin-top: 9px;
		width: 540px;
		float: left;
	}

	.icon {
		font-family: fontello;
		text-indent: -1000em;
		width: $canvas-toolbar-button-height;
		height: $canvas-toolbar-button-height;
		position: relative;
		color: rgba(0,0,0,0.6);
		cursor: default;
		line-height: $canvas-toolbar-button-height;
		// float: left;
		border-radius: $button-border-radius;
		display: inline-block;
		text-align: left;

		&.progress {
			.pie-graph {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}

			&.pat-tooltip.tooltip-active-click {
				background-color: $colour-accent;

				.pie-graph {
					border-color: white;;
				}
			}
		}

		&:before {
			font-family: fontello;
			text-indent: 0;
			line-height: $canvas-toolbar-button-height + 1px;
			text-align: center;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: inline-block;
			border-radius: $button-border-radius;
			box-sizing: border-box;
		}

		&:hover {
			color: black;
			text-decoration: none;

			&:before {
				// border: black 1px solid;
			}
		}

		&.active {
			color: $colour-accent;
	    	box-shadow: none;

			&:before {
				color: $colour-accent;
			}
		}

		&.pat-tooltip.tooltip-active-click {


			&:before {
				background-color: $colour-accent;
				color: white;
			}
		}

		&.create {
			// float: right;

			&:before {
				content: "#{$glyph-plus}";
				font-size: 25px;
			}
		}

		&.edit {
			// float: right;

			&:before {
				content: "#{$glyph-icon-edit}";
			}
		}

		&.modify {
			// float: right;

			&:before {
				content: "#{$glyph-icon-cog}";
			}
		}

		&.more {
			// float: right;

			&:before {
				content: "#{$glyph-icon-ellipsis}";
			}
		}

	}

	.pat-toolbar-search-field {
		width: $pat-toolbar-button-height;
		height: $pat-toolbar-button-height;
		position: relative;
		// float: left;
		display: inline-block;
		z-index: 1;
		margin-left: 1em;
		vertical-align: top;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			line-height: $pat-toolbar-button-height;
			width: $pat-toolbar-button-height;
			text-align: center;
			font-family: fontello;
			content: '#{$glyph-icon-search}';
			font-size: 22px;
			transition: left 0.5s, padding-left 0.5s, transform 1s;
		}

		&:hover {
			color: black;
		}

		input {
			width: $pat-toolbar-button-height;
			height: $pat-toolbar-button-height;
			border-radius: $border-radii;
			background: white;
			border: 1px silver solid;
			max-width: 1000px;
			position: absolute;
			top: 0;
			right: 0;
			transition: all 0.5s;
			opacity: 0;
			padding-left: 34px;
			margin: 0;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		&.focus,
		&.has-value,
		&.fixed {
			input {
				width: 270px;
				opacity: 1;

				@include screen-size(medium-large) {
					width: 350px;
				}
			}

			&:after {
				color: gray;
				transform: scale(0.8);
				left: -270px;

				@include screen-size(medium-large) {
					left: -350px;
					padding-left: 40px;
				}
			}
		}

		&.fixed {
			width: 258px;

			&:after {
				left: -123px;
			}
		}
	}
}