$namespace-prefix: 'tippy';
$placements: 'top', 'bottom', 'left', 'right';
$origins: bottom, top, right, left;
$backdrop-origins: 0% 25%, 0% -50%, 50% 0%, -50% 0%;
$backdrop-border-radii: 40% 40% 0 0, 0 0 30% 30%, 50% 0 0 50%, 0 50% 50% 0;
$bullet-space: 22px !default;
$tooltip-border-radii: $border-radii !default;
$tooltip-background-colour: white !default;
$menu-background-colour-current: $colour-accent !default;
$menu-text-colour-current: white !default;
$menu-list-item-background-colour-hover: rgba(0, 0, 0, 0.08) !default;
$menu-list-item-text-colour: #666 !default;
$menu-list-item-text-colour-hover: black !default;
$menu-list-item-margin: 2px 0 !default;
$menu-list-line-height: 22px !default;

@import "../libraries/tippyjs/index";
@import "../libraries/tippyjs/themes/patterns-tooltip";
// @import "../libraries/tippyjs/themes/light-border";

.tooltip-container {
  overflow: visible;
  font-size: 1rem;
  padding: 0;
  user-select: none;

  @media print {
    display: none !important;
  }

  .tippy-content {
    min-width: 250px;
    border-radius: $tooltip-border-radii;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  ul.menu {
    @include pat-menu-list;
  }

  // Variations

  &.label {
    .tippy-content {
      text-align: center;
      min-width: 0;
      padding: 6px 10px;
    }
  }

  .tippy-content {
    background-color: $tooltip-background-colour;
  }

  [data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: $tooltip-background-colour;

    &::before {
      border-bottom-color: $tooltip-background-colour;
    }
  }

  [data-placement^='left'] .tippy-arrow {
    border-left-color: $tooltip-background-colour;

    &::before {
      border-left-color: $tooltip-background-colour;
    }
  }

  [data-placement^='right'] .tippy-arrow {
    border-right-color: $tooltip-background-colour;

    &::before {
      border-right-color: $tooltip-background-colour;
    }
  }

  [data-placement^='top'] .tippy-arrow {
    border-top-color: $tooltip-background-colour;

    &::before {
      border-top-color: $tooltip-background-colour;
    }
  }

  &.info {
    .tippy-content {
      background-color: $colour-notice-background;
      -webkit-hyphens: auto;
      hyphens: auto;
      padding: 18px;

      .pat-button.read-more {
        clear: both;
        margin-top: 14px;
        margin-bottom: -5px;
      }

    }

    [data-placement^='bottom'] .tippy-arrow {
      border-bottom-color: $colour-notice-background;

      &::before {
        border-bottom-color: $colour-notice-background;
      }
    }

    [data-placement^='left'] .tippy-arrow {
      border-left-color: $colour-notice-background;

      &::before {
        border-left-color: $colour-notice-background;
      }
    }

    [data-placement^='right'] .tippy-arrow {
      border-right-color: $colour-notice-background;

      &::before {
        border-right-color: $colour-notice-background;
      }
    }

    [data-placement^='top'] .tippy-arrow {
      border-top-color: $colour-notice-background;

      &::before {
        border-top-color: $colour-notice-background;
      }
    }
  }

  &.rich {
    user-select: auto;
    
    .tippy-content {
      @include pat-rich();
      p,h1,h2,h3,ul,ol,table {
        margin-bottom: 0.5em;
      }

      > *:not(.footer):last-child {
        margin-bottom: 0;
      }
    }
  }

  &.large {
    @include screen-size(large) {
      // width: 50%;
      // Width 50% caused trouble with the lock steal tooltip.
    }
  }

  .tooltip-separation-header {
    color: black;
    font-weight: bold;
    /* font-size: 12px; */
    font-size: 1em;
    /* line-height: 18px; */
    margin: 10px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .item-selector {
    position: static;
  }

  .button-bar.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}