$colour-green: #39870c !default; 										
$colour-green-d: #2b6709 !default;	 							
$colour-green-l: #c4dbb6 !default;						
$colour-green-xl: #e1eddb !default; 						

$colour-orange: #e17000 !default;  										
$colour-orange-l: #f6d4b2 !default; 
$colour-orange-xl: #fbead9 !default; 
$colour-orange-d: #c06000 !default;
$colour-orange-xd: #6f3700 !default;

$colour-violette: #a90061 !default;
$colour-violette-l: #e5b3d0 !default; 
$colour-violette-xl: #f2d9e7 !default;

$colour-purple-l: #c6b8cf; 
$colour-purple-xl: #e3dce7; 
$colour-purple: #42145f; 

$colour-dark-blue: #01689b; 
$colour-dark-blue-d: #01527a !default;
$colour-dark-blue-l: #cce0f1; 
$colour-dark-blue-xd: #002c43 !default;
$colour-dark-blue-xl: #e5f0f9; 

$colour-link: DodgerBlue !default;
$colour-link-hover: navy !default;
$colour-base: #efefef !default;
$colour-primary: black !default;
$colour-header-elements: #666 !default;
$colour-post: #e4f2f8 !default;
$colour-alert: red !default;
$colour-workspace-default: #869EBF !default;
$colour-accent: darkgoldenrod !default;
$colour-success: #4a964a !default;
$colour-success-dark: #397339 !default;
$colour-success-background: #e1eddb !default;
$colour-success-background-dark: #cddec4 !default;
$colour-warning: orange !default;
$colour-warning-background: #fbead9 !default; 
$colour-for-review: #a90061 !default;
$colour-notice: tuscanbrown !default;
$colour-notice-background: #fdfdc8 !default;
$colour-info: #d9edf7 !default;
$colour-info-background: #d9edf7 !default;
$colour-error: red !default;
$colour-error-background: #FFC8C8 !default;
$colour-base-light: #efefef !default;
$colour-chooser-default: $colour-accent !default;
$colour-form-fields-background: rgba(0,0,0,0.1) !default;
$colour-well-background: rgba(255,255,255,0.5) !default;

:root {
    --colour-green: #{$colour-green};
    --colour-green-d: #{$colour-green-d};
    --colour-green-l: #{$colour-green-l};
    --colour-green-xl: #{$colour-green-xl};
    --colour-orange: #{$colour-orange};
    --colour-orange-l: #{$colour-orange-l};
    --colour-orange-xl: #{$colour-orange-xl};
    --colour-orange-d: #{$colour-orange-d};
    --colour-orange-xd: #{$colour-orange-xd};
    --colour-violette: #{$colour-violette};
    --colour-violette-l: #{$colour-violette-l};
    --colour-violette-xl: #{$colour-violette-xl};
    --colour-purple-l: #{$colour-purple-l};
    --colour-purple-xl: #{$colour-purple-xl};
    --colour-purple: #{$colour-purple};
    --colour-dark-blue: #{$colour-dark-blue};
    --colour-dark-blue-d: #{$colour-dark-blue-d};
    --colour-dark-blue-l: #{$colour-dark-blue-l};
    --colour-dark-blue-xd: #{$colour-dark-blue-xd};
    --colour-dark-blue-xl: #{$colour-dark-blue-xl};
    --colour-link: #{$colour-link};
    --colour-link-hover: #{$colour-link-hover};
    --colour-base: #{$colour-base};
    --colour-primary: #{$colour-primary};
    --colour-header-elements: #{$colour-header-elements};
    --colour-post: #{$colour-post};
    --colour-alert: #{$colour-alert};
    --colour-workspace-default: #{$colour-workspace-default};
    --colour-accent: #{$colour-accent};
    --colour-success: #{$colour-success};
    --colour-success-dark: #{$colour-success-dark};
    --colour-success-background: #{$colour-success-background};
    --colour-success-background-dark: #{$colour-success-background-dark};
    --colour-warning: #{$colour-warning};
    --colour-warning-background: #{$colour-warning-background};
    --colour-for-review: #{$colour-for-review};
    --colour-notice: #{$colour-notice};
    --colour-notice-background: #{$colour-notice-background};
    --colour-info: #{$colour-info};
    --colour-info-background: #{$colour-info-background};
    --colour-error: #{$colour-error};
    --colour-error-background: #{$colour-error-background};
    --colour-base-light: #{$colour-base-light};
    --colour-chooser-default: #{$colour-chooser-default};
    --colour-form-fields-background: #{$colour-form-fields-background};
    --colour-well-background: #{$colour-well-background};
}