$colour-green: #39870c !default; 										
$colour-green-d: #2b6709 !default;	 							
$colour-green-l: #c4dbb6 !default;						
$colour-green-xl: #e1eddb !default; 						

$colour-orange: #e17000 !default;  										
$colour-orange-l: #f6d4b2 !default; 
$colour-orange-xl: #fbead9 !default; 
$colour-orange-d: #c06000 !default;
$colour-orange-xd: #6f3700 !default;

$colour-violette: #a90061 !default;
$colour-violette-l: #e5b3d0 !default; 
$colour-violette-xl: #f2d9e7 !default;

$colour-purple-l: #c6b8cf; 
$colour-purple-xl: #e3dce7; 
$colour-purple: #42145f; 

$colour-dark-blue: #01689b; 
$colour-dark-blue-d: #01527a !default;
$colour-dark-blue-l: #cce0f1; 
$colour-dark-blue-xd: #002c43 !default;
$colour-dark-blue-xl: #e5f0f9; 

$colour-link: DodgerBlue !default;
$colour-link-hover: navy !default;
$colour-base: #efefef !default;
$colour-primary: black !default;
$colour-header-elements: #666 !default;
$colour-post: #e4f2f8 !default;
$colour-alert: red !default;
$colour-workspace-default: #869EBF !default;
$colour-accent: darkgoldenrod !default;
$colour-success: #4a964a !default;
$colour-success-dark: #397339 !default;
$colour-success-background: #e1eddb !default;
$colour-success-background-dark: #cddec4 !default;
$colour-warning: orange !default;
$colour-warning-background: #fbead9 !default; 
$colour-for-review: #a90061 !default;
$colour-for-review-background: #f4d3e5 !default;
$colour-notice: tuscanbrown !default;
$colour-notice-background: #fdfdc8 !default;
$colour-info: #4dc4ff !default;
$colour-info-background: #d9edf7 !default;
$colour-error: red !default;
$colour-error-background: #ffe7e7 !default;
$colour-base-light: #efefef !default;
$colour-chooser-default: $colour-accent !default;
$colour-form-fields-background: rgba(0,0,0,0.1) !default;
$colour-well-background: rgba(255,255,255,0.5) !default;

:root {
    --colour-green: var(--colour-green);
    --colour-green-d: var(--colour-green-d);
    --colour-green-l: var(--colour-green-l);
    --colour-green-xl: var(--colour-green-xl);
    --colour-orange: var(--colour-orange);
    --colour-orange-l: var(--colour-orange-l);
    --colour-orange-xl: var(--colour-orange-xl);
    --colour-orange-d: var(--colour-orange-d);
    --colour-orange-xd: var(--colour-orange-xd);
    --colour-violette: var(--colour-violette);
    --colour-violette-l: var(--colour-violette-l);
    --colour-violette-xl: var(--colour-violette-xl);
    --colour-purple-l: var(--colour-purple-l);
    --colour-purple-xl: var(--colour-purple-xl);
    --colour-purple: var(--colour-purple);
    --colour-dark-blue: var(--colour-dark-blue);
    --colour-dark-blue-d: var(--colour-dark-blue-d);
    --colour-dark-blue-l: var(--colour-dark-blue-l);
    --colour-dark-blue-xd: var(--colour-dark-blue-xd);
    --colour-dark-blue-xl: var(--colour-dark-blue-xl);
    --colour-link: var(--colour-link);
    --colour-link-hover: var(--colour-link-hover);
    --colour-base: var(--colour-base);
    --colour-primary: var(--colour-primary);
    --colour-header-elements: var(--colour-header-elements);
    --colour-post: var(--colour-post);
    --colour-alert: var(--colour-alert);
    --colour-workspace-default: var(--colour-workspace-default);
    --colour-accent: var(--colour-accent);

    --colour-success: var(--colour-success);
    --colour-success-background: var(--colour-success-background);
    --colour-success-dark: color-mix(in srgb, var(--colour-success) 50%, black);
    --colour-success-text: var(--colour-success-dark);

    --colour-success-hover: color-mix(in srgb, var(--colour-success) 98%, black);
    --colour-success-background-hover: color-mix(in srgb, var(--colour-success-background) 98%, black);
    --colour-success-text-hover: color-mix(in srgb, var(--colour-success-text) 98%, black);

    --colour-warning: var(--colour-warning);
    --colour-warning-background: var(--colour-warning-background);
    --colour-warning-text: color-mix(in srgb, var(--colour-warning) 50%, black);

    --colour-warning-hover: color-mix(in srgb, var(--colour-warning) 98%, black);
    --colour-warning-background-hover: color-mix(in srgb, var(--colour-warning-background) 98%, black);
    --colour-warning-text-hover: color-mix(in srgb, var(--colour-warning-text) 98%, black);

    --colour-for-review: var(--colour-for-review);
    --colour-for-review-background: var(--colour-for-review-background);
    --colour-for-review-text: color-mix(in srgb, var(--colour-for-review) 50%, black);
    --colour-for-review-hover: color-mix(in srgb, var(--colour-for-review) 98%, black);
    --colour-for-review-background-hover: color-mix(in srgb, var(--colour-for-review-background) 98%, black);
    --colour-for-review-text-hover: color-mix(in srgb, var(--colour-for-review-text) 98%, black);

    --colour-notice: var(--colour-notice);
    --colour-notice-background: var(--colour-notice-background);
    --colour-notice-text: color-mix(in srgb, var(--colour-notice) 50%, black);
    --colour-notice-hover: color-mix(in srgb, var(--colour-notice) 98%, black);
    --colour-notice-background-hover: color-mix(in srgb, var(--colour-notice-background) 98%, black);
    --colour-notice-text-hover: color-mix(in srgb, var(--colour-notice-text) 98%, black);

    --colour-info: var(--colour-info);
    --colour-info-background: var(--colour-info-background);
    --colour-info-text: color-mix(in srgb, var(--colour-info) 20%, black);
    --colour-info-hover: color-mix(in srgb, var(--colour-info) 98%, black);
    --colour-info-background-hover: color-mix(in srgb, var(--colour-info-background) 98%, black);
    --colour-info-text-hover: color-mix(in srgb, var(--colour-info-text) 98%, black);

    --colour-error: var(--colour-error);
    --colour-error-background: var(--colour-error-background);
    --colour-error-text: color-mix(in srgb, var(--colour-error) 20%, black);
    --colour-error-hover: color-mix(in srgb, var(--colour-error) 98%, black);
    --colour-error-background-hover: color-mix(in srgb, var(--colour-error-background) 98%, black);
    --colour-error-text-hover: color-mix(in srgb, var(--colour-error-text) 98%, black);

    --colour-base-light: var(--colour-base-light);
    --colour-chooser-default: var(--colour-chooser-default);
    --colour-form-fields-background: var(--colour-form-fields-background);
    --colour-well-background: var(--colour-well-background);
}
