$colour-green: #39870c !default; 										
$colour-green-d: #2b6709 !default;	 							
$colour-green-l: #c4dbb6 !default;						
$colour-green-xl: #e1eddb !default; 						

$colour-orange: #e17000 !default;  										
$colour-orange-l: #f6d4b2 !default; 
$colour-orange-xl: #fbead9 !default; 
$colour-orange-d: darken($colour-orange, 10%); 
$colour-orange-xd: darken($colour-orange, 20%);

$colour-violette: #a90061 !default;
$colour-violette-l: #e5b3d0 !default; 
$colour-violette-xl: #f2d9e7 !default;

$colour-purple-l: #c6b8cf; 
$colour-purple-xl: #e3dce7; 
$colour-purple: #42145f; 

$colour-dark-blue: #01689b; 
$colour-dark-blue-d: darken($colour-dark-blue, 10%);
$colour-dark-blue-l: #cce0f1; 
$colour-dark-blue-xd: darken($colour-dark-blue, 30%);
$colour-dark-blue-xl: #e5f0f9; 

$colour-link: DodgerBlue !default;
$colour-link-hover: navy !default;
$colour-base: #efefef !default;
$colour-primary: black !default;
$colour-header-elements: #666 !default;
$colour-post: #e4f2f8 !default;
$colour-alert: red !default;
$colour-workspace-default: #869EBF !default;
$colour-accent: darkgoldenrod !default;
$colour-success: #4a964a !default;
$colour-success-dark: #397339 !default;
$colour-success-background: #e1eddb !default;
$colour-success-background-dark: #cddec4 !default;
$colour-warning: orange !default;
$colour-warning-background: #fbead9 !default; 
$colour-for-review: #a90061 !default;
$colour-notice: tuscanbrown !default;
$colour-notice-background: #fdfdc8 !default;
$colour-info: #d9edf7 !default;
$colour-info-background: #d9edf7 !default;
$colour-error: red !default;
$colour-error-background: #FFC8C8 !default;
$colour-base-light: #efefef !default;
$colour-chooser-default: $colour-accent !default;
$colour-form-fields-background: rgba(0,0,0,0.1) !default;
$colour-well-background: rgba(255,255,255,0.5) !default;

:root {
    --colour-link: #{$colour-link};
    --colour-form-fields-background: #{$colour-form-fields-background};
    --colour-accent: #{$colour-accent};
}