$glyph-checkbox: \e808 !default;
$glyph-checkbox-active: \e809 !default;
$glyph-radio-button: \e807 !default;
$glyph-radio-button-active: \e806 !default;
$glyph-close: '\e813' !default;
$glyph-arrows-apart: '\e901' !default;