:root {
    --glyph-hour-glass-1: '\f251';
    --glyph-sidebar-left-open: '\e966';
    --glyph-sidebar-left-close: '\e965';
    --glyph-info-circle: '\e819';
    --glyph-resize-full: '\e832';
    --glyph-resize-small: '\e8f5';
    --glyph-checkboxes-triple-checked: '\e954';
    --glyph-checkboxes-triple-unchecked: '\e955';
    --glyph-approved: '\e956';
    --glyph-approved-ouline: '\e957';
    --glyph-validation: '\e954';
    --glyph-under-review: '\e958';
    --glyph-checkbox: '\e808';
    --glyph-checkbox-active: '\e809';
    --glyph-radio-button: '\e807';
    --glyph-radio-button-active: '\e806';
    --glyph-close: '\e813';
    --glyph-arrows-apart: '\e901';
    --glyph-tags: '\e87f';
    --glyph-tag: '\e87c';
    --glyph-remove: '\e813';
    --glyph-remove-tag: '\e813';
    --glyph-icon-user: '\e80c';
    --glyph-user: '\e80c';
    --glyph-users: '\e80d';
    --glyph-user-group: '\e80d';
    --glyph-icon-user-group: '\e80d';
    --glyph-angle-right: '\f105';
    --glyph-cancel: '\e80b';
    --body-font-color: black;
    --glyph-icon-up-circle: '\e80d';
    --glyph-icon-down-circle: '\e80e';
    --glyph-icon-search: '\e83d';
    --glyph-search: '\e83d';
    --glyph-minus: '\e898';
    --glyph-plus-1: '\e831';
    --glyph-spinner: '\e815';
    --glyph-angle-double-right: '\f101';
    --glyph-angle-double-left: '';
    --glyph-plus: '\e833';
    --glyph-icon-cog: '\e818';
    --glyph-cog: '\e818';
    --glyph-cog-many: '\e88c';
    --glyph-icon-ellipsis: '\e89e';
    --glyph-left-big: '\e8c6';
    --glyph-left-open: '\e844';
    --glyph-right-big: '\e888';
    --glyph-upload: '\e808';
    --glyph-edit: '';
    --glyph-pencil: '\e833';
    --glyph-download: '\e809';
    --glyph-eye: '';
    --glyph-eye-off: '';
    --glyph-upload-cloud: '';
    --glyph-grid-large: '';
    --glyph-list-large: '';
    --glyph-up-open: '\e855';
    --glyph-down-open: '\e856';
    --glyph-icon-right-circled: '\f0a9';
    --glyph-icon-picture: '';
    --glyph-language: '';
    --glyph-lock: '\e8a3';
    --glyph-lock-open: '\e8a4';
    --glyph-question-mark: '\f128';
    --glyph-level-up: '\f148';
    --glyph-help: '\f128';
    --glyph-week-view: '';
    --glyph-day-view: '';
    --glyph-month-view: '';
    --glyph-list: '';
    --glyph-circle: '';
    --glyph-arrow-left: '\e8c3';
    --glyph-arrow-right: '\e8c4';
    --glyph-arrow-combo: '\e898';
    --glyph-checkboxes-double-checked: '';
    --glyph-folder: '';
    --glyph-dir-right: '\e83b';
    --glyph-creative-commons: '\f25e';
    --glyph-copyright: '\f1f9';
    --glyph-zoom-in: '\e8ba';
    --glyph-zoom-out: '\e8bb';
    --glyph-filter: '\f0b0';
}