$colour-well-background: rgba(255, 255, 255, 0.5) !default;

$break-small: 768px !default;
$break-large: 1280px !default;
$pat-tail-white: 15px !default;

// Menu list

$menu-list-top-bottom-padding: 2px !default;

// Typography

$body-font-family: 'Source Sans Pro', sans-serif !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

// Buttons

$button-border: none !default;
$button-border-radius: $border-radii !default;
$button-background-image: none !default;
$button-font-weight: bold !default;

$button-text-colour: #{$colour-link} !default;
$button-text-colour-hover: color-mix(in srgb, #{$colour-link} 90%, black) !default;
$button-background-colour: #{$colour-accent} !default;
$button-background-colour-hover: color-mix(in srgb, #{$colour-accent} 90%, black) !default;
$button-shadow: none !default;

$button-text-colour-subdued: rgba(0, 0, 0, 0.6) !default;
$button-text-colour-subdued-hover: rgba(0, 0, 0, 1) !default;
$button-background-colour-subdued: rgba(0, 0, 0, 0.1) !default;
$button-background-colour-subdued-hover: rgba(0, 0, 0, 0.15) !default;

$button-background-colour-default: #{$colour-accent} !default;
$button-background-colour-default-hover: color-mix(in srgb, #{$colour-accent} 90%, black) !default;
$button-text-colour-default: rgba(255, 255, 255, 0.9) !default;
$button-text-colour-default-hover: rgba(255, 255, 255, 1) !default;
$button-shadow-default: none !default;

$button-text-colour-disabled: rgba(black, 0.3) !default;
$button-text-colour-disabled-hover: rgba(black, 0.3) !default;
$button-background-colour-disabled: $button-background-colour !default;
$button-background-colour-disabled-hover: $button-background-colour !default;

$button-height: 35px !default;
$button-line-height: 35px !default;
$button-font-size: #{$base-font-size} !default;
$button-paddings: 0 #{$base-font-size} !default;

$button-small-height: 20px !default;
$button-small-line-height: 20px !default;
$button-small-font-size: 0.8rem !default;
$button-small-paddings: 0 0.8rem !default;
$button-small-shadow: none !default;

$pat-toolbar-button-height: $button-height !default;
$pat-toolbar-button-line-height: $button-line-height !default;

$grid-gutter: '#{$base-font-size}' !default;

$default-screen-padding: 40px !default;
$default-screen-padding-small: 15px !default;

$default-tail-white: 25px !default;

$border-radii: 10px !default;
$tooltip-border-radii: #{$border-radii} !default;
$tooltip-padding: 18px !default;
$default-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) !default;
$default-box-shadow-hover: 0 0 15px rgba(0, 0, 0, 0.2) !default;
$default-box-shadow-active: inset 0 0 10px rgba(0, 0, 0, 0.4) !default;
$default-focus-marking: 0 0 2px rgba(0, 0, 0, 0.5) !default;
$form-fields-border-radius: #{$border-radii} !default;
$form-input-field-line-height: inherit !default;

$collapsible-button-height: 31px !default;

:root {
    --border-radii: #{$border-radii};

    // Toggle
    --pat-toggle-height: 26px;
    --pat-toggle-switch-border-radius: 14px;
    --pat-toggle-background-colour-off: silver;
    --pat-toggle-background-colour-on: #{$colour-success};
    --pat-toggle-toggle-distance: 2px;
    --pat-toggle-toggle-border-radius: 50%;
    --pat-toggle-toggle-background-colour: white;
    --pat-toggle-toggle-background-colour-on: white;
    --pat-toggle-text-colour: white;
    --pat-toggle-padding-start-end: 10px;
    --pat-toggle-box-shadow: none;
    --pat-toggle-box-shadow-on: none;
    --pat-toggle-text-colour: white;
    --pat-toggle-text-shadow-on: none;

    // Auto suggest
    --pat-auto-suggest-cancel-button-edge-distance: 12px;

    // Portlet
    --pat-portlet-background-colour: rgba(255, 255, 255, 0.5);

    // Form
    --pat-form-horizontal-label-width: 27%;
    --pat-form-horizontal-extra-width: 26px;
    --pat-form-horizontal-column-gap: 25px;
    --pat-form-proportion-gutter: 15px;
    --pat-form-input-field-line-height: 28px;
    --pat-form-input-field-padding-top-bottom-disabled: 0;
    --pat-form-input-field-padding-left-right-disabled: 0;
    --pat-form-input-field-font-size: #{$base-font-size};
    --pat-form-input-field-font-weight: normal;
    --pat-form-input-field-tail-white: 1.2rem;
    --pat-form-input-field-background-colour: var(--colour-form-fields-background);
    --pat-form-input-field-background-colour-disabled: transparent;
    --pat-form-input-field-text-colour: black;
    --pat-form-fields-border-radius: var(--border-radii);
    --pat-form-placeholder-colour: rgba(0, 0, 0, 0.35);
    --pat-form-input-field-text: inherit;
    --pat-form-input-field-text-disabled: rgba(0, 0, 0, 0.5);
    --pat-form-panel-background-colour: #{$colour-well-background};
    --pat-form-panel-collapsible-button-height: $collapsible-button-height;
    --pat-form-input-field-outline: none;
    --pat-form-input-field-outline-offset: 2px;
    --pat-form-input-field-outline-focus: dodgerblue 2px solid;
    --pat-form-input-field-border: none;
    --pat-form-input-field-border-focus: none;
    --pat-form-input-field-box-shadow: none;
    --pat-form-input-field-box-shadow-disabled: none;
    --pat-form-input-field-box-shadow-focus: none;
    --pat-form-help-button-height: 37px;
    --pat-form-help-button-width: 26px;
    --pat-form-help-button-icon-height: 37px;
    --pat-form-help-button-icon-glyph: $glyph-question-mark;
    --pat-form-help-button-icon-border-radius: #{$border-radii};
    --pat-form-panel-box-shadow-hover: 0 0 1px 1px rgba(0, 0, 0, 0.5);
    --pat-form-panel-padding: 40px;
    --pat-form-panel-padding-large: 40px;
    --pat-form-panel-padding-medium: 30px;
    --pat-form-panel-padding-small: 20px;
    --pat-form-input-field-padding-top-bottom: 4px;
    --pat-form-input-field-padding-start-end: 10px;
    --pat-form-input-field-border: none;
    --pat-form-input-field-box-shadow: none;
    --pat-form-input-field-border-radius: #{$border-radii};
    --pat-form-proportion-ceiling: 260%;
    --pat-form-proportion-name: 30%;
    --pat-form-proportion-value: 80%;
    --pat-form-proportion-value-small: 100%;
    --pat-form-input-field-tail-white: 26px;

    // Select 
    --pat-select-box-arrow-width: 35px;
    --pat-select-box-arrow-size: 18px;
    --pat-select-arrow-space: 29px;
    --pat-select-box-padding-top-bottom: var(--pat-form-input-field-padding-top-bottom);
    --pat-select-box-padding-start: var(--pat-form-input-field-padding-start-end);
    --pat-select-box-box-shadow: var(--pat-form-input-field-box-shadow);
    --pat-select-box-background-colour: var(--pat-form-input-field-background-colour);
    --pat-select-box-background-colour-hover: var(--pat-form-input-field-background-colour);
    --pat-select-box-arrow-background-colour: rgba(0, 0, 0, 0.1);
    --pat-select-box-arrow-text-colour: inherit;
    --pat-select-box-font-size: var(--pat-form-input-field-font-size);
    --pat-select-arrow-edge-distance: 12px;
    --pat-select-box-height: var(--pat-form-input-field-line-height);

    // Checklist
    --pat-checklist-label-padding-start: 1.5em;
    --pat-checklist-label-padding-end: 0;
    --pat-checklist-item-separation: 0.2em;

    // Menu list
    --pat-menu-list-item-padding-start: 34px;
    --pat-menu-list-item-line-height: 24px;

    // Sortable blocks
    --pat-sortable-blocks-padding-start: 44px;
    --pat-sortable-blocks-button-width: 36px;
    --pat-sortable-blocks-gap: 6px;
    --pat-sortable-blocks-item-info-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    --pat-sortable-blocks-handle-colour: #{$colour-accent};
    --pat-sortable-blocks-remove-button-width: 20px;
    --pat-sortable-blocks-remove-button-height: 34px;
    --pat-sortable-blocks-remove-button-icon-height: 20px;
    --pat-sortable-blocks-remove-button-icon-border-radius: 50%;
    --pat-sortable-blocks-item-info-box-shadow: #{$default-box-shadow};

    // Context menu
    --pat-context-menu-panel-distance: 1.7em;
    --pat-context-menu-panel-width: 250px;

    // Message

    --pat-message-padding: 1.3rem;

    // Modal

    --close-button-height: #{$button-height};
    --modal-panel-width-small: 640px;
    --modal-panel-width-medium: 840px;
    --modal-panel-width-large: 1100px;
    --modal-panel-body-bottom-padding: 30px;
    --modal-panel-body-top-padding: 8px; // Leaves some space for focus outline of first form field.
    --modal-panel-body-left-right-padding: 30px;

    // Gallery

    --gallery-button-width: 40px;
    --gallery-button-height: 40px;

    // Buttons

    --pat-button-paddings: 0 #{$base-font-size};
    --pat-button-font-size: #{$button-font-size};
    --pat-button-text-colour: #{$button-text-colour};
    --pat-button-background-colour: #{$button-background-colour};
    --pat-button-text-colour-hover: #{$button-text-colour-hover};
    --pat-button-background-colour-hover: #{$button-background-colour-hover};
    --pat-button-height: #{$button-height};
    --pat-button-line-height: #{$button-line-height};
    --pat-button-paddings: #{$button-paddings};
    --pat-button-font-weight: #{$button-font-weight};
    --pat-button-border: #{$button-border};
    --pat-button-border-radius: #{$button-border-radius};
    --pat-button-background-image: #{$button-background-image};
    --pat-button-shadow: #{$button-shadow};
    --pat-button-small-height: #{$button-small-height};
    --pat-button-small-line-height: #{$button-small-line-height};
    --pat-button-small-font-size: #{$button-small-font-size};
    --pat-button-small-paddings: #{$button-small-paddings};
    --pat-button-small-shadow: #{$button-small-shadow};
    
}

