:root {
    --border-radii: 10px;

    // Auto suggest

    --pat-auto-suggest-cancel-button-edge-distance: 12px;

    // Portlet

    --pat-portlet-background-colour: rgba(255, 255, 255, 0.5);

    // Form

    --pat-form-horizontal-label-width: 27%;
    --pat-form-horizontal-extra-width: 26px;
    --pat-form-horizontal-column-gap: 25px;

    --pat-form-proportion-gutter: 15px;
    --pat-form-input-field-line-height: 28px;
    --pat-form-input-field-padding-top-bottom-disabled: 0;
    --pat-form-input-field-padding-left-right-disabled: 0;
    --pat-form-input-field-font-size: 1em;
    --pat-form-input-field-tail-white: 1.2rem;
    --pat-form-input-field-background-colour: var(--colour-form-fields-background);
    --pat-form-input-field-background-colour-disabled: transparent;
    --pat-form-input-field-text-colour: black;
    --pat-form-fields-border-radius: var(--border-radii);
    --pat-form-placeholder-colour: rgba(0, 0, 0, 0.35);
    --pat-form-input-field-text: inherit;
    --pat-form-input-field-text-disabled: rgba(0, 0, 0, 0.5);
    --pat-form-panel-background-colour: #{$colour-well-background};
    --pat-form-panel-collapsible-button-height: $collapsible-button-height;
    --pat-form-input-field-outline: none;
    --pat-form-input-field-outline-offset: 0;
    --pat-form-input-field-outline-focus: none;
    --pat-form-input-field-border: none;
    --pat-form-input-field-border-focus: none;
    --pat-form-input-field-box-shadow: none;
    --pat-form-input-field-box-shadow-disabled: none;
    --pat-form-input-field-box-shadow-focus: none;
    --pat-form-help-button-height: 37px;
    --pat-form-help-button-width: 26px;
    --pat-form-help-button-icon-height: 37px;
    --pat-form-help-button-icon-glyph: $glyph-question-mark;
    --pat-form-help-button-icon-border-radius: #{$border-radii};

    --pat-form-panels-box-shadow-hover: 0 0 1px 1px rgba(0, 0, 0, 0.5);

    --pat-form-panel-padding: 40px;
    --pat-form-panel-padding-large: 40px;
    --pat-form-panel-padding-medium: 30px;
    --pat-form-panel-padding-small: 20px;

    --pat-form-input-field-padding-top-bottom: 4px;
    --pat-form-input-field-padding-start-end: 10px;
    --pat-form-input-field-border: none;
    --pat-form-input-field-box-shadow: none;
    --pat-form-input-field-border-radius: #{$border-radii};

    --pat-form-proportion-ceiling: 260%;
    --pat-form-proportion-name: 30%;
    --pat-form-proportion-value: 80%;
    --pat-form-proportion-value-small: 100%;

    --pat-form-input-field-tail-white: 26px;

    // Select 
    --pat-select-box-arrow-width: 35px;
    --pat-select-box-arrow-size: 18px;
    --pat-select-arrow-space: 29px;
    --pat-select-box-padding-top-bottom: var(--pat-form-input-field-padding-top-bottom);
    --pat-select-box-padding-start: var(--pat-form-input-field-padding-start-end);
    --pat-select-box-box-shadow: var(--pat-form-input-field-box-shadow);
    --pat-select-box-background-colour: var(--pat-form-input-field-background-colour);
    --pat-select-box-background-colour-hover: var(--pat-form-input-field-background-colour);
    --pat-select-box-arrow-background-colour: rgba(0, 0, 0, 0.1);
    --pat-select-box-arrow-text-colour: inherit;
    --pat-select-box-font-size: var(--pat-form-input-field-font-size);
    --pat-select-arrow-edge-distance: 12px;
    --pat-select-box-height: var(--pat-form-input-field-line-height);
    --pat-select-box-font-size: 1rem;

    // Checklist
    --pat-checklist-label-padding-start: 1.5em;
    --pat-checklist-label-padding-end: 0;
    --pat-checklist-item-separation: 0.2em;

    // Menu list
    --pat-menu-list-item-padding-start: 34px;

    // Buttons
    --pat-button-height: 35px;
    --pat-button-line-height: 35px;
    --pat-button-font-size: 1em;
    --pat-button-font-weight: bold;
    --pat-button-paddings: 0 1em;

    // Sortable blocks
    --pat-sortable-blocks-padding-start: 44px;
    --pat-sortable-blocks-button-width: 36px;
    --pat-sortable-blocks-gap: 11px;
    --pat-sortable-blocks-item-info-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
}